{% load sitetree %}
{% if sitetree_items|length_is:"1" %}
{% else %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            {% for item in sitetree_items %}
                {% if not forloop.last %}
                    <li class="breadcrumb-item"><a href="{% sitetree_url for item %}">{{ item.title_resolved }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active">{{ item.title_resolved }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}