{% load sitetree %}
<ul class="main-menu">
    {% for item in sitetree_items %}
        {% if item.title == "HomePage" %}
            <li class="{% if item.is_current or item.in_current_branch %}active{% endif %}">
                <a href="{% url 'core:denomination' group.slug denomination.slug %}"><i class="fa fa-home"></i></a>
            </li>
        {% else %}
            <li class="{% if item.has_children %}menu-item-has-children{% endif %} {% if item.is_current or item.in_current_branch %}active{% endif %}">
                <a href="{% if item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}">
                    {{ item.title_resolved }}
                </a>
                {% if item.has_children %}
                    {% sitetree_children of item for menu template "sitetree/main_menu_dropdown.html" %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
