{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="title-block mb-5">
                        <h2>{{ page_title }}</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-post">
                                <div class="down-content">
                                    <form action="{% url 'core:activity-request' group.slug denomination.slug %}"
                                          method="post"
                                          id="activity-request">
                                        {% csrf_token %}
                                        <div class="type">
                                            {{ form.type|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="description">
                                            {{ form.description|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="place">
                                            {{ form.place|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="sender-last-name">
                                            {{ form.sender_last_name|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="sender-first-name">
                                            {{ form.sender_first_name|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="sender-contact">
                                            {{ form.sender_contact|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="sender-email">
                                            {{ form.sender_email|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="date_range">
                                            {{ form.date_range|as_crispy_field }}
                                            <span class="help-block"></span>
                                        </div>
                                        <input type="hidden" name="hasNecrology" value="{{ hasNecrology }}">
                                        <input type="hidden" name="necrology" data-id="{{ necrology.id }}" data-name="{{ necrology.title }}">
                                        <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                            <button class="button btn-block add-activity-request" type="submit">
                                                Soumettre
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}