{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="title-block mb-5">
                        <h2>{{ page_title }}</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="{% url 'core:receive-create' group.slug denomination.slug %}" method="POST"
                                  enctype="multipart/form-data" id="receive-request">
                                {% csrf_token %}
                                <div class="subject">
                                    {{ form.subject.errors }}
                                    {{ form.subject|as_crispy_field }}
                                    <span class="help-block"></span>
                                </div>
                                <div class="last-name">
                                    {{ form.last_name.errors }}
                                    {{ form.last_name|as_crispy_field }}
                                    <span class="help-block"></span>
                                </div>
                                <div class="first-name">
                                    {{ form.first_name.errors }}
                                    {{ form.first_name|as_crispy_field }}
                                    <span class="help-block"></span>
                                </div>
                                <div class="description">
                                    {{ form.description.errors }}
                                    {{ form.description|as_crispy_field }}
                                    <span class="help-block"></span>
                                </div>

                                <div class="image bottommargin-lg">
                                    {{ image_form.file.errors }}
                                    <div id="div_id_image" class="form-group row">
                                        <label for="id_image"
                                               class="col-form-label col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott">
                                            Joindre des images
                                        </label>
                                        <div class="custom-file col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <input type="file" name="image" class="clearablefileinput form-control custom-file-input"
                                                   id="id_image"
                                                   multiple>
                                            <label class="custom-file-label form-control-file" for="id_file"></label>
                                        </div>
                                    </div>

                                    <span class="help-block"></span>
                                </div>

                                {% comment %}<div class="place">
                                    {{ form.place.errors }}
                                    {{ form.place|as_crispy_field }}
                                    <span class="help-block"></span>
                                </div>{% endcomment %}

                                <div class="place">
                                    {{ form.place.errors }}
                                    <div id="div_id_place" class="form-group row">
                                        <label for="id_place"
                                               class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott">
                                            {{ denomination.denomination_details.place_type }}
                                        </label>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <select name="place" class="select2 form-control" id="id_place">
                                                <option value="">---------</option>
                                                {% for place in place_list %}
                                                    <option value="{{ place.id }}">{{ place.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <span class="help-block"></span>
                                </div>

                                <div class="contact">
                                    {{ form.contact.errors }}
                                    {{ form.contact|as_crispy_field }}
                                    <span class="help-block"></span>
                                </div>
                                <div class="email">
                                    {{ form.email.errors }}
                                    {{ form.email|as_crispy_field }}
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                    <button class="button btn-block add-receive-request" type="submit">
                                        Envoyer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}