{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    {% if receive.images.all %}
                                        <div id="carousel-border" class="carousel slide mb-4" data-ride="carousel" data-interval="5000">
                                            <ol class="carousel-indicators">
                                                {% for receive in receive.images.all %}
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                                                        class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                                                {% endfor %}
                                            </ol>
                                            <div class="carousel-inner">
                                                {% for receive in receive.images.all %}
                                                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                                        <a href="{{ receive.absolute_url }}">
                                                            {% thumbnail receive.image "708x368" as im %}
                                                                <img src="{{ im.url }}" width="{{ im.width }}"
                                                                     height="{{ im.height }}" alt="{{ receive.subject }}">
                                                            {% empty %}
                                                                <img src="https://placehold.jp/cccccc/ffffff/708x368.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                                     alt="{{ receive.subject }}">
                                                            {% endthumbnail %}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                               data-slide="prev">
                                                <span class="fa fa-arrow-left fa-2x" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button"
                                               data-slide="next">
                                                <span class="fa fa-arrow-right fa-2x" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="down-content">
                                        <h4>{{ receive.subject }}</h4>
                                        <ul class="post-info">
                                            <li><i class="fa fa-calendar"></i> {{ receive.created_at }}</li>
                                            <li><i class="fa fa-eye"></i> 0</li>
                                            <li><i class="fa fa-handshake-o"></i> {{ receive.receive_ref.count }}</li>
                                        </ul>
                                        <div class="mt-4 mb-4 content-safe">{{ receive.description }}</div>
                                    </div>
                                </div>
                                <div class="single-post">
                                    <div class="text-center mb-5">
                                        <button class="button button-reveal button-large tright donate">
                                            <i class="fa fa-arrow-right"></i><span>Faire un don</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <form action="{% url 'core:receive-donate' group.slug denomination.slug receive.pk %}" method="POST"
                                              id="donate-form">
                                            {% crispy donation_form %}
                                            <input type="hidden" name="receiver_request_id" value="{{ receive.pk }}">
                                            <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                                <button class="button btn-block add-receive-request" type="submit">
                                                    Participer
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% if donations.count %}
                                    <div class="single-post">
                                        <div class="col-lg-12">
                                            <div class="widget-post comments">
                                                <div class="widget-header">
                                                    <h4><span>{{ donations.count }}</span> Participation{{ donations.count|pluralize:",s" }}</h4>
                                                </div>
                                                <div class="widget-content">
                                                    <ul class="comments">
                                                        {% for donation in donations %}
                                                            <li>
                                                                <div class="right-content">
                                                                    <h6>{{ donation.sender_name }} <span>{{ donation.created_at }}</span></h6>
                                                                    <p>{{ donation.comment }}</p>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}