{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">
                            <div class="title-block">
                                <h2>Faire une bonne action</h2>
                            </div>
                            {% for receive in receive_list %}
                                <div class="col-lg-6">
                                    <div class="standard-post recent-post">
                                        <div class="down-content">
                                            <a href="{% url 'core:receive' group.slug denomination.slug receive.pk %}">
                                                <h4>{{ receive.subject }}</h4>
                                            </a>
                                            <ul class="post-info">
                                                <li><i class="fa fa-calendar"></i> {{ receive.created_at|date:"j F Y" }}</li>
                                                <li><i class="fa fa-eye"></i> 0</li>
                                                <li><i class="fa fa-handshake-o"></i> {{ receive.receive_ref.count }}</li>
                                            </ul>
                                            <p>{{ receive.description|safe|truncatechars:150 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}