<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} | Prions.ci</title>

    {% include 'administrator/partials/css.html' %}
</head>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

    <div class="wrapper">
        <!-- FOOTER -->
        {% include 'administrator/partials/header.html' %}
        <!-- /.HEADER -->

        <!-- Left side column. contains the logo and sidebar -->
        {% include 'administrator/partials/navigation.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container-full">
                <!-- Content Header (Page header) -->
                {% block content_header %}{% endblock %}
                <!-- /.Content Header (Page header) -->

                <!-- Main content -->
                {% block content %}{% endblock %}
                <!-- /.Main content -->
            </div>
        </div>
        <!-- /.content-wrapper -->

        <!-- FOOTER -->
        {% include 'administrator/partials/footer.html' %}
        <!-- /.FOOTER -->

        <!-- Control Sidebar -->
        {% include 'administrator/partials/sidebar.html' %}
        <!-- /.control-sidebar -->

        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    {% include 'administrator/partials/js.html' %}

    <!-- modal Area -->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--h4 class="modal-title">Default Modal</h4-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-rounded btn-primary float-right">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    {% comment %}{% include 'administrator/partials/modals/activity.html' %}{% endcomment %}
</body>
</html>
