{% extends 'administrator/common/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content_header %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">{{ page_title }}</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">{{ page_title }}</h4>
                        <div class="box-controls pull-right">
                            <span>Mis &agrave; jour le <i>{{ place.updated_at|date:"D, d M Y H:i:s" }}</i></span>
                        </div>
                    </div>
                    <div class="box-body">
                        <form action="/administrator/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {# crispy PlaceOrganizational #}
                            <fieldset>
                                <legend>Hierarchie</legend>
                                <br>
                                {% for pa in PlaceOrganizational %}
                                    <div class="form-row">
                                        <div class="col-md">
                                            {{ pa.archdiocese|as_crispy_field }}
                                        </div>
                                        <div class="col-md">
                                            {{ pa.diocese|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md">
                                            {{ pa.vicariate|as_crispy_field }}
                                        </div>
                                        <div class="col-md">
                                            {{ pa.deanery|as_crispy_field }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </fieldset>
                            <br>
                            <br>
                            <fieldset>
                                <legend>{{ place.denomination.denomination_details.place_type }}</legend>
                                <br>
                                {% crispy form %}
                            </fieldset>
                            {{ PlaceOrganizational.management_form }}
                        </form>
                        {% comment %}<form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Submit">
                        </form>{% endcomment %}
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}