{% extends 'administrator/common/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content_header %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">Officiants</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">{{ page_title }}</h4>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Nom & Pr&eacute;nom.s</th>
                                    <th>Contact T&eacute;l&eacute;phonique</th>
                                    <th>Adresse Email</th>
                                    <th>Mis à jour le</th>
                                    <th>Par</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for officiant in placeofficiant_list %}
                                    <tr>
                                        <td>{{ officiant.pk }}</td>
                                        <td>{{ officiant.type|default_if_none:"" }}</td>
                                        <td>{{ officiant.last_name }} {{ officiant.first_name }}</td>
                                        <td>{{ officiant.contact }}</td>
                                        <td>{{ officiant.email }}</td>
                                        <td>{{ officiant.updated_at }}</td>
                                        <td>{{ officiant.updated_by }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'administrator:officiant-update' officiant.pk %}" class="btn btn-info"><i
                                                        class="fa fa-edit"></i></a>
                                                <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Nom & Pr&eacute;nom.s</th>
                                    <th>Contact T&eacute;l&eacute;phonique</th>
                                    <th>Adresse Email</th>
                                    <th>Mis à jour le</th>
                                    <th>Par</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}