<div class="col-lg-12 col-sm-6 col-md-6 bottommargin-sm" id="custom_calendar">
    <div class="fancy-title title-dotted-border title-center">
        <h4 class="color">Agenda {% if place %}{{ place.name }}{% endif %} </h4>
    </div>
    <div id="calendar" data-events="{{ calendar_events }}"></div>
</div>