{% load static %}
<div class="fancy-title title-bottom-border title-center">
    <h5>
        Je cherche <span class="rotate color">{% for type in rotate_list %}
        {{ type }}
        {% if not forloop.last %},{% endif %}
    {% endfor %}</span>
    </h5>
</div>
<div>
    {% if page_name == 'home_denomination' %}
        <div class="d-none d-sm-none d-md-none d-lg-block">
            <div class="fancy-title title-dotted-border title-center">
                <h6>Rechercher sur la carte</h6>
            </div>
            <a href="#">
                <img src="{% static 'core/images/ivory_coast_map.svg' %}" alt="" id="home-annuaire-svg">
            </a>
        </div>
    {% endif %}
    <div class="fancy-title title-dotted-border title-center">
        <h6>Utiliser des crit&egrave;res de recherche</h6>
    </div>
    <div>
        <form action="{% url 'core:annuaire-search' group.slug denomination.slug %}" method="post" id="i-wish" data-search-url="annuaire">
            {% csrf_token %}
            <div class="">
                <input type="radio" name="search_type" id="worship-place" value="worship-place">
                <label for="worship-place">&nbsp;{{ denomination.denomination_details.place_type }}</label>
            </div>
            <div class="">
                <input type="radio" name="search_type" id="worship-activity" value="worship-activity">
                <label for="worship-activity">&nbsp;Horaires de {{ denomination.denomination_details.celebration }}</label>
            </div>
            <div class="">
                <input type="radio" name="search_type" id="worship-event" value="worship-event">
                <label for="worship-event">&nbsp;&Eacute;v&eacute;nements</label>
            </div>
            <div class="">
                <input type="radio" name="search_type" id="worship-service" value="worship-service">
                <label for="worship-service">&nbsp;Services & associations</label>
            </div>

            <div class="worship-place">
                <div class="form-group">
                    <select name="place_type" id="place-type" class="form-control">
                        <option value="">Tout</option>
                        {% for place_type in place_types %}
                            <option value="{{ place_type.id }}">{{ place_type.name }}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text">S&eacute;lectionnez un type de {{ denomination.denomination_details.place_type }}</small>
                </div>
                <div class="form-group">
                    <input type="text" name="place" id="place" class="form-control place"
                           placeholder="Entrez le nom d'un {{ denomination.denomination_details.place_type }}" autocomplete="off">
                    <ul class="widget-links clearfix place-results live-results"></ul>
                    <small class="form-text">Entrez le nom d'un {{ denomination.denomination_details.place_type }}</small>
                </div>
            </div>

            <div class="worship-activity">
                <div class="form-group">
                    <input type="text" name="place" id="activity-place" class="form-control place"
                           placeholder="Entrez le nom d'un {{ denomination.denomination_details.place_type }}" autocomplete="off">
                    <ul class="widget-links clearfix place-results live-results"></ul>
                    <small class="form-text">Entrez le nom d'un {{ denomination.denomination_details.place_type }}</small>
                </div>
                <div class="form-group">
                    <input type="text"
                           name="activity_date"
                           id="activity_date"
                           class="form-control tleft select-date"
                           placeholder="jj/mm/aaaa"
                           autocomplete="off">
                    <small class="form-text">S&eacute;lectionnez une date</small>
                </div>
            </div>

            <div class="worship-event">
                <div class="form-group">
                    <select name="event_type" id="event-type" class="form-control">
                        <option value="">Tout</option>
                        {% for event_type in event_types %}
                            <option value="{{ event_type.id }}">{{ event_type.name }}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text">S&eacute;lectionnez un type</small>
                </div>
                <div class="form-group">
                    <input type="text"
                           name="event_date"
                           id="event-date"
                           class="form-control tleft select-date"
                           placeholder="jj/mm/aaaa"
                           autocomplete="off">
                    <small class="form-text">S&eacute;lectionnez une date</small>
                </div>
            </div>

            <div class="worship-service">
                <div class="form-group">
                    <select name="service_type" id="service-type" class="form-control">
                        <option value="">Tout</option>
                        {% for service_type in service_types %}
                            <option value="{{ service_type.id }}">{{ service_type.name }}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text">S&eacute;lectionnez un type</small>
                </div>
            </div>

            <div id="location-search-block" class="form-group">
                <div class="input-group">
                    <input type="text"
                           id="location-search"
                           name="location_search"
                           class="form-control location-search"
                           placeholder="Localisation"
                           autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn button-color get-location"
                                type="button"
                                data-toggle="tooltip"
                                title="Me Localiser">
                            <i class="fa fa-location-arrow"></i>
                        </button>
                    </div>
                </div>
                <ul class="widget-links clearfix location-results live-results"></ul>
                <small class="form-text">Entrez le nom d'un quartier, d'une ville</small>
                <input type="hidden" name="geo_loc">
            </div>

            <input type="hidden" name="search_elements">
            <input type="hidden" name="denomination">

            <div id="search-button-block" class="form-group">
                <button type="submit" class="button button-3d button-color btn-block noleftmargin norightmargin">
                    <span>Rechercher</span>
                </button>
            </div>
        </form>
    </div>
</div>
