<div class="clearfix col-lg-12 col-sm-12 col-md-12 mb-lg-5">
    <div class="row">
        {% comment %}<iframe class="col-lg-12 col-sm-12 col-md-12"
                style="height: 358px; border: 1px solid #ddd !important;"
                frameBorder="0" scrolling="no"
                src="https://www.islamicfinder.org/prayer-widget/?language=fr"></iframe>{% endcomment %}
        <iframe id="iframe"
                title="prayerWidget"
                class="col-lg-12 col-sm-12 col-md-12"
                style="height: 358px; border: 1px solid #ddd !important;"
                scrolling="no"
                src="https://www.islamicfinder.org/prayer-widget/2293538/shafi/1/0/18.0/17.0?language=fr"></iframe>
    </div>
</div>