{% load static thumbnail %}
<div class="col-lg-12 col-sm-6 col-md-6 necrology bottommargin-sm">
    <div class="fancy-title title-dotted-border title-center">
        <a href="{% url 'core:necrology-list' group.slug denomination.slug %}"><h4 class="color">N&eacute;crologie</h4></a>
    </div>

    <div class="bxslider">
        {% for necrology in necrology_list %}
            <div class="necroloy-link"
                 data-url="{% url 'core:necrology' group.slug denomination.slug necrology.slug %}">
                <a href="{% url 'core:necrology' group.slug denomination.slug necrology.slug %}">
                    {% thumbnail necrology.image "350x288" crop="100% top" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}"
                             height="{{ im.height }}" alt="{{ necrology.title }}" title="{{ necrology.title }}">
                    {% empty %}
                        <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                             alt="{{ necrology.title }}" title="{{ necrology.title }}">
                    {% endthumbnail %}
                </a>
                <div class="down-content caption text-center">
                    <a href="{% url 'core:necrology' group.slug denomination.slug necrology.slug %}">
                        <h4>{{ necrology.title }}</h4>
                    </a>
                    <p>{{ necrology.date }}</p>
                </div>
            </div>
        {% empty %}
            Aucun d&eacute;c&egrave;s enregistr&eacute; pour le moment
        {% endfor %}
    </div>
</div>