{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page de lancement | Bienvenue sur prions.ci</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'core/landing/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>


<div class="flex-w flex-str size1 overlay1">
    <div class="flex-w flex-col-sb wsize1 bg0 p-l-65 p-t-37 p-b-50 p-r-80 respon1">
        <div class="wrappic1">
            <a href="#">
                <img src="{% static 'core/images/logo.png' %}" width="75" alt="Logo Prions.ci">
            </a>
        </div>

        <div class="w-full flex-c-m p-b-90">
            <div class="wsize2">
                <h3 class="l1-txt1 p-b-34 respon3">
                    Coming Soon
                </h3>

                <p class="m2-txt1 p-b-46">
                    D&eacute;sol&eacute;! Votre site est actuellement en d&eacute;veloppement.
                    <br>
                    <span class="s2-txt1 p-b-46">
                        Revenez ult&eacute;rieurement s'il vous pla&icirc;t.
                    </span>
                </p>

                <form action="{% url 'login' %}?next={{ request.GET.next }}" method="post" class="contact100-form validate-form m-t-10 m-b-10">
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input m-lr-auto-lg" data-validate="Le nom d'utilisateur est obligatoire">
                        <input type="text" class="s2-txt1 placeholder0 input100 trans-04" name="username" id="username"
                               placeholder="Nom d'utilisateur">
                    </div>
                    <br>
                    <div class="wrap-input100 validate-input m-lr-auto-lg" data-validate="Le mot de passe est obligatoire">
                        <input type="password" class="s2-txt1 placeholder0 input100 trans-04" name="password" id="password"
                               placeholder="Mot de passe">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </form>
            </div>
        </div>
        <div>
            Copyright © 2018-2019 TRIUM-F - Tous droits réservés
        </div>
    </div>

    <div class="wsize1 simpleslide100-parent respon2">
        <!--  -->
        <div class="simpleslide100">
            <div class="simpleslide100-item bg-img1" style="background-image: url('{% static 'core/landing/images/bg01.jpg' %}');"></div>
            <div class="simpleslide100-item bg-img1" style="background: center / cover no-repeat url('{% static 'core/landing/images/linear-web-development-vector-illustration.jpg' %}');"></div>
            <div class="simpleslide100-item bg-img1" style="background: center / contain no-repeat url('{% static 'core/images/logo@2x.png' %}');"></div>
            <div class="simpleslide100-item bg-img1" style="background-image: url('{% static 'core/landing/images/under_construction_banner.jpg' %}');"></div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'core/landing/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'core/landing/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'core/landing/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'core/landing/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'core/landing/vendor/tilt/tilt.jquery.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'core/landing/js/main.js' %}"></script>

</body>
</html>