{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="post-image">
                                        <div class="meta-category">
                                            <span>{{ announce.category.name }}</span>
                                        </div>
                                        {% thumbnail announce.image "730x398" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ announce.title }}">
                                        {% empty %}
                                            <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                 alt="{{ announce.title }}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="down-content">
                                        <h4>{{ announce.title }}</h4>
                                        <ul class="post-info">
                                            <li><i class="fa fa-calendar"></i> {{ announce.published_on|date:"l j F Y H:i" }}</li>
                                            <li><i class="fa fa-eye"></i> 0</li>
                                        </ul>
                                        <div class="mt-4 mb-4 content-safe">{{ announce.content|safe }}</div>
                                        <div class="row">
                                            <div class="col-lg-7 col-md-6 offset-lg-5 offset-md-6">
                                                <!-- Post Single - Share -->
                                                <div class="si-share noborder clearfix">
                                                    <span>Partagez cette annonce :</span>
                                                    <div>
                                                        {% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i>' %}
                                                        {% post_to_twitter '<text_to_post>' request.build_absolute_uri '<i class="icon-twitter"></i>' %}
                                                        {% post_to_whatsapp request.build_absolute_uri '<i class="icon-whatsapp"></i>' %}
                                                        {% post_to_telegram '<text_to_post>' request.build_absolute_uri '<i class="icon-telegram"></i>' %}
                                                        {% post_to_linkedin '#' %}
                                                        {% post_to_gplus request.build_absolute_uri '<i class="icon-gplus"></i>' %}
                                                        {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri '<i class="icon-email3"></i>' %}
                                                    </div>
                                                </div>
                                                <!-- Post Single - Share End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="post-nav">
                                    {% if previous_article %}
                                        <li><a href="{{ previous_announce.get_absolute_url }}">&lArr; Pr&eacute;c&eacute;dent</a></li>
                                    {% endif %}
                                    {% if next_article %}
                                        <li><a href="{{ next_announce.get_absolute_url }}">Suivant &rArr;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}