{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail utils social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="down-content">
                                        <h4 class="mb-2">{{ place.place_name }}</h4>
                                        {% if place.organizational.diocese %}
                                            <h5 class="mb-2">Diocèse : {{ place.organizational.diocese }}</h5>
                                        {% endif %}
                                        {% if place.slogan %}
                                            <strong class="color"><i>{{ place.slogan }}</i></strong>
                                        {% endif %}
                                    </div>
                                    <div class="post-image">
                                        {% thumbnail place.image "730x398" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ place.name }}">
                                        {% empty %}
                                            <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                 alt="{{ place.name }}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="down-content">
                                        <div class="mt-4 mb-4 content-safe">{{ place.description|safe }}</div>
                                        <div class="mt-4 mb-4 content-to-hide">
                                            <div class="title-block toggle-content">
                                                <h3>Infos Pratiques
                                                    <span class="tright" style="float: right">
                                                        {% thumbnail place.logo "50x50" crop="center" as im %}
                                                            <img src="{{ im.url }}" alt="{{ place.name }}">
                                                        {% empty %}
                                                        {% endthumbnail %}
                                                    </span>
                                                </h3>
                                            </div>
                                            <div class="mt-4 mb-4 row">
                                                <div class="col-6">
                                                    <ul>
                                                        {% comment %}<li>
                                                            <strong>{{ denomination.denomination_details.responsible|default:"Responsable" }}:</strong>
                                                            {{ place.responsible.full_name|default:"&agrave; venir" }}
                                                            {% if place.responsible.contact %}
                                                                ({{ place.responsible.contact }})
                                                            {% endif %}
                                                        </li>{% endcomment %}
                                                        {% for officiant in place.officiant.all %}
                                                            <li>
                                                                <strong>{{ officiant.type|default_if_none:"Prêtre" }} : </strong>
                                                                {{ officiant.full_name|default:"&agrave; venir" }}
                                                            </li>
                                                        {% endfor %}
                                                        <li>
                                                            {{ place.location|default:"&agrave; venir" }}
                                                        </li>
                                                        <li>
                                                            <strong>Contact : </strong>
                                                            {{ place.contact|default:"&agrave; venir" }}
                                                        </li>
                                                        <li>
                                                            <strong>Adresse Postale : </strong>
                                                            {{ place.address|default:"&agrave; venir" }}
                                                        </li>
                                                        <li>
                                                            <strong>Horaires de r&eacute;ception : </strong>
                                                            {{ place.opening_time|default:"&agrave; venir" }}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul>
                                                        <li>
                                                            <strong>
                                                                {{ place.place_type.get_creation_date_display|default:"Date de création" }} :
                                                            </strong>
                                                            {{ place.creation_date|default_if_none:"&agrave; venir" }}
                                                        </li>
                                                        <li>
                                                            <strong>Rep&egrave;res g&eacute;ographiques : </strong>
                                                            {{ place.location_detail|default:"&agrave; venir" }}
                                                        </li>
                                                        <li>
                                                            <strong>Fax : </strong>
                                                            {{ place.fax|default:"&agrave; venir" }}
                                                        </li>
                                                        <li>
                                                            <strong>Email : </strong>
                                                            {{ place.email|default:"&agrave; venir" }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-7 col-md-6 offset-lg-5 offset-md-6">
                                                    <!-- Post Single - Share -->
                                                    <div class="si-share noborder clearfix">
                                                        <span>Partagez ce lieu de culte :</span>
                                                        <div>
                                                            {% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i>' %}
                                                            {% post_to_twitter '<text_to_post>' request.build_absolute_uri '<i class="icon-twitter"></i>' %}
                                                            {% post_to_whatsapp request.build_absolute_uri '<i class="icon-whatsapp"></i>' %}
                                                            {% post_to_telegram '<text_to_post>' request.build_absolute_uri '<i class="icon-telegram"></i>' %}
                                                            {% post_to_linkedin '#' %}
                                                            {% post_to_gplus request.build_absolute_uri '<i class="icon-gplus"></i>' %}
                                                            {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri '<i class="icon-email3"></i>' %}
                                                        </div>
                                                    </div>
                                                    <!-- Post Single - Share End -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-4 content-to-hide">
                                            <div class="title-block toggle-content">
                                                <h3>Organisations</h3>
                                            </div>
                                            <div class="mt-4 mb-4 row to-hide">
                                                {% for organization in organizations %}
                                                    <div class="col-6 bottommargin-sm">
                                                        <div class="clearfix">
                                                            <div class="fancy-title title-bottom-border mb-3">
                                                                <h5 class="nobottommargin color">{{ organization.organization.name }}</h5>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12">
                                                                    <ul class="nobottommargin">
                                                                        <li>
                                                                            <strong>Responsable : </strong>
                                                                            <span class="meta-data">{{ organization.responsible.full_name|default:"&agrave; venir" }}</span>
                                                                        </li>
                                                                        <li>
                                                                            <strong>Contact : </strong>
                                                                            <span class="meta-data">{{ organization.responsible.contact|default:"&agrave; venir" }}</span>
                                                                        </li>
                                                                        <li>
                                                                            <strong>Email : </strong>
                                                                            <span class="meta-data">{{ organization.responsible.email|default:"&agrave; venir" }}</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <div class="col-12">&agrave; venir</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-4 content-to-hide">
                                            <div class="title-block toggle-content">
                                                <h3>{{ denomination.denomination_details.place_community|default_if_none:"Communauté" }}</h3>
                                            </div>
                                            <div class="mt-4 mb-4 row to-hide">
                                                {% for community in community_list %}
                                                    <div class="col-lg-6">
                                                        <div class="standard-post recent-post">
                                                            <div class="post-image">
                                                                <a href="{% url 'core:place-community' group.slug denomination.slug place.slug community.slug %}">
                                                                    {% thumbnail community.image "350x288" crop="center" as im %}
                                                                        <img src="{{ im.url }}" width="{{ im.width }}"
                                                                             height="{{ im.height }}" alt="{{ community.title }}">
                                                                    {% empty %}
                                                                        <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                                             alt="{{ community.title }}">
                                                                    {% endthumbnail %}
                                                                </a>
                                                            </div>
                                                            <div class="down-content">
                                                                <a href="{{ community.absolute_url }}">
                                                                    <h4 class="h5">{{ community.title|truncatechars:75 }}</h4>
                                                                </a>
                                                                <ul class="post-info">
                                                                    <li><i class="fa fa-calendar"></i> {{ community.published_on|date:"l j N Y" }}
                                                                    </li>
                                                                </ul>
                                                                {#<p>{{ community.excerpt }}</p>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <div class="col-12">&agrave; venir</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-4 content-to-hide">
                                            <div class="title-block toggle-content">
                                                <h3>{{ denomination.denomination_details.announce_type|default_if_none:"Annonces" }}</h3>
                                            </div>
                                            <div class="mt-4 mb-4 row to-hide">
                                                {% for announce in announce_list %}
                                                    <div class="col-lg-6">
                                                        <div class="standard-post recent-post">
                                                            <div class="post-image">
                                                                <a href="{% url 'core:place-announce' group.slug denomination.slug place.slug announce.slug %}">
                                                                    {% thumbnail announce.image "350x288" crop="center" as im %}
                                                                        <img src="{{ im.url }}" width="{{ im.width }}"
                                                                             height="{{ im.height }}" alt="{{ announce.title }}">
                                                                    {% empty %}
                                                                        <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                                             alt="{{ announce.title }}">
                                                                    {% endthumbnail %}
                                                                </a>
                                                            </div>
                                                            <div class="down-content">
                                                                <a href="{{ announce.absolute_url }}">
                                                                    <h4 class="h5">{{ announce.title|truncatechars:75 }}</h4>
                                                                </a>
                                                                <ul class="post-info">
                                                                    <li><i class="fa fa-calendar"></i> {{ announce.published_on|date:"l j N Y" }}
                                                                    </li>
                                                                </ul>
                                                                {#<p>{{ announce.excerpt }}</p>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <div class="col-12">&agrave; venir</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="mt-5 last_update clearfix">
                                            Date de derni&egrave;re modification : <i>{{ place.updated_at|date:"D, d M Y H:i:s" }} par <span
                                                class="color">{{ place.updated_by }}</span></i>
                                            <br>
                                            <a href="{% url 'core:error-report' group.slug denomination.slug place.slug %}"
                                               class="float-right color-red"><i>Remontez une erreur</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/place_sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}