{% extends 'core/layouts/default.html' %}
{% load static crispy_forms_tags %}
{% block title %}Bienvenue sur Prions.ci{% endblock %}
{% block content %}
    <section class="large-gap standard-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-block">
                        <h2><i>Enregistrez une d&eacute;nomination r&eacute;ligieuse : </i></h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-post">
                                <div class="down-content">
                                    <form action="{% url 'core:kyc-denomination' %}" method="post"
                                          class="nobottommargin">
                                        {% crispy form %}
                                        <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                            <button class="button btn-block">
                                                Enregistrer
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}