{% extends 'core/layouts/default.html' %}
{% load static %}
{% block title %}Bienvenue sur Prions.ci{% endblock %}
{% block content %}
    <section class="large-gap standard-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-block">
                        <h2><i>Je suis : </i></h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="flip-card text-center top-to-bottom">
                                <div class="flip-card-front bg-info dark" data-height-xl="150" style="height: 150px;">
                                    <a href="{% url 'core:kyc-denomination' %}">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder text-center">
                                                <div class="card-body">
                                                    <h3 class="card-title color-white">Une d&eacute;nomination</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flip-card-back" data-height-xl="150" style="height: 150px;">
                                    <div class="flip-card-inner">
                                        <a href="{% url 'core:kyc-denomination' %}"
                                           class="btn btn-outline-light mt-2">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="flip-card text-center top-to-bottom">
                                <div class="flip-card-front bg-info dark" data-height-xl="150" style="height: 150px;">
                                    <a href="{% url 'core:kyc-place' %}">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder text-center">
                                                <div class="card-body">
                                                    <h3 class="card-title color-white">Un lieu de culte</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flip-card-back" data-height-xl="150" style="height: 150px;">
                                    <div class="flip-card-inner">
                                        <a href="{% url 'core:kyc-place' %}"
                                           class="btn btn-outline-light mt-2">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="flip-card text-center top-to-bottom">
                                <div class="flip-card-front bg-info dark" data-height-xl="150" style="height: 150px;">
                                    <a href="{% url 'core:kyc-service' %}">
                                        <div class="flip-card-inner">
                                            <div class="card nobg noborder text-center">
                                                <div class="card-body">
                                                    <h3 class="card-title color-white">Un service</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flip-card-back" data-height-xl="150" style="height: 150px;">
                                    <div class="flip-card-inner">
                                        <a href="{% url 'core:kyc-service' %}"
                                           class="btn btn-outline-light mt-2">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}