{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'administrator/images/favicon.ico' %}">

    <title>Page de connexion | prions.ci</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="{% static 'administrator/css/vendors_css.css' %}">

    <!-- Style-->
    <link rel="stylesheet" href="{% static 'administrator/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'administrator/css/skin_color.css' %}">

</head>
<body class="hold-transition theme-primary bg-gradient-primary">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="content-top-agile p-10">
                            <h2 class="text-white">Prions.ci</h2>
                            <p class="text-white-50">Connectez-vous pour démarrer votre session</p>
                        </div>
                        <div class="p-30 rounded30 box-shadowed b-2 b-dashed">
                            <form action="{% url 'login' %}?next=/administrator/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-transparent text-white"><i class="ti-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control pl-15 bg-transparent text-white plc-white" name="username"
                                               id="username" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text  bg-transparent text-white"><i class="ti-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control pl-15 bg-transparent text-white plc-white" name="password"
                                               id="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- /.col -->
                                    <div class="col-12">
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="text-white hover-info"><i class="ion ion-locked"></i> Mot de passe
                                                oubli&eacute; ?</a><br>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-info btn-rounded mt-10">CONNEXION</button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor JS -->
    <script src="{% static 'administrator/js/vendors.min.js' %}"></script>
    <script src="{% static 'administrator/assets/icons/feather-icons/feather.min.js' %}"></script>
</body>
</html>
