{% extends 'core/layouts/group.html' %}
{% load static thumbnail templates %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% if recent_articles %}
                        <div class="standard-posts">
                            <div class="row">
                                <div class="title-block">
                                    <h2>Actualit&eacute;</h2>
                                </div>
                                <div class="col-lg-12">
                                    <div id="articlesCarousel" class="carousel slide mb-4" data-ride="carousel" data-interval="5000">
                                        <ol class="carousel-indicators">
                                            {% for article in recent_articles %}
                                                <li data-target="#articlesCarousel" data-slide-to="{{ forloop.counter0 }}"
                                                    class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% for article in recent_articles %}
                                                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                                    <a href="{{ article.absolute_url }}">
                                                        {% thumbnail article.image "730x379" crop="center" as im %}
                                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                                 height="{{ im.height }}" alt="{{ article.title }}">
                                                        {% empty %}
                                                            <img src="https://placehold.jp/cccccc/ffffff/730x379.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                                 alt="{{ article.title }}">
                                                        {% endthumbnail %}
                                                    </a>
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>{{ article.title }}</h5>
                                                        <p>{{ article.category.name }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control carousel-control-prev" href="#articlesCarousel" role="button"
                                           data-slide="prev">
                                            <span class="fa fa-arrow-left fa-2x" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control carousel-control-next" href="#articlesCarousel" role="button"
                                           data-slide="next">
                                            <span class="fa fa-arrow-right fa-2x" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                {% for article in old_articles %}
                                    <div class="col-lg-6">
                                        <div class="standard-post recent-post">
                                            <div class="post-image">
                                                <a href="{{ article.absolute_url }}">
                                                    {% thumbnail article.image "350x288" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}"
                                                             height="{{ im.height }}" alt="{{ article.title }}">
                                                    {% empty %}
                                                        <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                             alt="{{ article.title }}">
                                                    {% endthumbnail %}
                                                </a>
                                            </div>
                                            <div class="down-content">
                                                <a href="{{ article.absolute_url }}"><h4 class="h5">{{ article.title|truncatechars:75 }}</h4></a>
                                                <ul class="post-info">
                                                    <li><i class="fa fa-calendar"></i> {{ article.published_on|date:"j N Y" }}</li>
                                                    <li><i class="fa fa-folder-o"></i> {{ article.category.name }}</li>
                                                </ul>
                                                {#<p>{{ article.excerpt }}</p>#}
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="heading-block noborder">
                                        Aucun article publi&eacute; pour l'instant
                                    </div>
                                {% endfor %}
                                {% comment %}<div class="col-lg-12 text-right">
                                    <a href="{% url 'core:article-list' group.slug denomination.slug %}"
                                       class="button button-reveal button-small tright">
                                        <i class="fa fa-arrow-right"></i><span>Voir tout</span></a>
                                </div>{% endcomment %}
                            </div>
                        </div>
                    {% endif %}
                    {% if recent_announces %}
                        <div class="standard-posts mt-5">
                            <div class="row">
                                <div class="title-block">
                                    <h2>Annonces</h2>
                                </div>
                                <div class="col-lg-12">
                                    <div id="announcesCarousel" class="carousel slide mb-4" data-ride="carousel" data-interval="5000">
                                        <ol class="carousel-indicators">
                                            {% for announce in recent_announces %}
                                                <li data-target="#announcesCarousel" data-slide-to="{{ forloop.counter0 }}"
                                                    class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% for announce in recent_announces %}
                                                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                                    <a href="{{ announce.absolute_url }}">
                                                        {% thumbnail announce.image "730x379" crop="center" as im %}
                                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                                 height="{{ im.height }}" alt="{{ announce.title }}">
                                                        {% empty %}
                                                            <img src="https://placehold.jp/cccccc/ffffff/730x379.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                                 alt="{{ announce.title }}">
                                                        {% endthumbnail %}
                                                    </a>
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>{{ announce.title }}</h5>
                                                        <p>{{ announce.category.name }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control carousel-control-prev" href="#announcesCarousel" role="button"
                                           data-slide="prev">
                                            <span class="fa fa-arrow-left fa-2x" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control carousel-control-next" href="#announcesCarousel" role="button"
                                           data-slide="next">
                                            <span class="fa fa-arrow-right fa-2x" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                {% for announce in old_announces %}
                                    <div class="col-lg-6">
                                        <div class="standard-post recent-post">
                                            <div class="post-image">
                                                <a href="{{ announce.absolute_url }}">
                                                    {% thumbnail announce.image "350x288" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}"
                                                             height="{{ im.height }}" alt="{{ announce.title }}">
                                                    {% empty %}
                                                        <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                             alt="{{ announce.title }}">
                                                    {% endthumbnail %}
                                                </a>
                                            </div>
                                            <div class="down-content">
                                                <a href="{{ announce.absolute_url }}"><h4 class="h5">{{ announce.title|truncatechars:75 }}</h4></a>
                                                <ul class="post-info">
                                                    <li><i class="fa fa-calendar"></i> {{ announce.published_on|date:"j N Y" }}</li>
                                                    <li><i class="fa fa-folder-o"></i> {{ announce.category.name }}</li>
                                                </ul>
                                                {#<p>{{ announce.excerpt }}</p>#}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% comment %}<div class="col-lg-12 text-right">
                                    <a href="{% url 'core:announce-list' group.slug denomination.slug %}"
                                       class="button button-reveal button-small tright">
                                        <i class="fa fa-arrow-right"></i><span>Voir tout</span></a>
                                </div>{% endcomment %}
                            </div>
                        </div>
                    {% endif %}
                    <section class="medium-gap call-to-action">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-content">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <div class="left-content">
                                                    <h2><em>Shareen</em> newest personal <em>Blog</em> Template!</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <div class="main-sidebar right-sidebar">
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 col-md-6">
                                <div class="ads">
                                    <a href="/media/ads/air_france_4.jpg" data-lightbox="image">
                                <img src="{% get_media_prefix %}ads/air_france_4.jpg" width="350" height="288" alt="Ad">
                            </a>
                                </div>
                            </div>
                            {% calendar %}
                            {#{% necrology %}#}
                            <div class="col-lg-12 col-sm-6 col-md-6">
                                <div class="ads">
                                    <a href="/media/ads/celebration-VS.jpg" data-lightbox="image">
                                        <img src="{% get_media_prefix %}ads/celebration-VS.jpg" width="350" height="288" alt="{{ picture.title }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}