{% extends 'administrator/common/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content_header %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">{{ page_title }}</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Events</li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">{{ page_title }}</h4>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-hover activity_list">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Nom</th>
                                    <th>Responsable</th>
                                    <th>Contact</th>
                                    <th>R&eacute;p&egrave;re g&eacute;ographique</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in service_list %}
                                    <tr>
                                        <td>{{ service.pk }}</td>
                                        <td>{{ service.service_type }}</td>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.responsible }}</td>
                                        <td>{{ service.contact }}</td>
                                        <td>{{ service.location_detail }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'administrator:service-update' service.pk %}" class="btn btn-info"><i
                                                        class="fa fa-edit"></i></a>
                                                <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Nom</th>
                                    <th>Responsable</th>
                                    <th>Contact</th>
                                    <th>R&eacute;p&egrave;re g&eacute;ographique</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}