{% extends 'core/layouts/denomination.html' %}
{% load thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">
                            <div class="title-block">
                                <h2>Lieux de p&egrave;lerinages et de retraites</h2>
                            </div>
                            <div class="col-12">
                                <div class="single-post">
                                    <div class="down-content">
                                        <ul class="nav nav-pills nav-fill mb-3 lookup-tabs" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link place-list-tab active" id="place-list-tab" data-toggle="pill" href="#place-list"
                                                   role="tab"
                                                   aria-controls="place-list"
                                                   aria-selected="true"><i class="fa fa-list"></i> Lieux de p&egrave;lerinages et retraites</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link place-search-tab" id="place-search-tab" data-toggle="pill"
                                                   href="#place-search"
                                                   role="tab"
                                                   aria-controls="place-search"
                                                   aria-selected="false"><i class="fa fa-search norightmargin"></i> Rechercher</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="place-list" role="tabpanel" aria-labelledby="place-list-tab">
                                                <div class="row retirement-place-list">
                                                    {% for retirement_place in retirement_place_list %}
                                                        <div class="col-lg-6">
                                                            <div class="standard-post recent-post">
                                                                <div class="post-image">
                                                                    <a href="{% url 'core:retirement-place' group.slug denomination.slug retirement_place.slug %}">
                                                                        {% thumbnail retirement_place.image "350x288" crop="80% top" as im %}
                                                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                                                 height="{{ im.height }}" alt="{{ retirement_place.title }}">
                                                                        {% empty %}
                                                                            <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                                                 alt="{{ article.title }}">
                                                                        {% endthumbnail %}
                                                                    </a>
                                                                </div>
                                                                <div class="down-content necrology">
                                                                    <a href="{% url 'core:retirement-place' group.slug denomination.slug retirement_place.slug %}">
                                                                        <h5 class="color">{{ retirement_place.name }}</h5>
                                                                    </a>
                                                                    <ul class="small">
                                                                        <li>
                                                                            <strong>Pays : </strong>
                                                                            {{ retirement_place.city.country }}
                                                                        </li>
                                                                        <li>
                                                                            <strong>Localit&eacute; : </strong>
                                                                            {{ retirement_place.city }}
                                                                        </li>
                                                                        <li>
                                                                            <strong>Contact : </strong>
                                                                            {{ retirement_place.contact|default:"&agrave; venir" }}
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        {% include 'core/layouts/partials/pagination.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="place-search" role="tabpanel"
                                                 aria-labelledby="place-search-tab">
                                                <form id="retirement-search" data-search-url="retirement" method="post" class="nobottommargin">
                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="retirement-search-type">Que cherchez-vous ?</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <select name="retirement_search_type" id="retirement-search-type" class="form-control"
                                                                    required>
                                                                <option value="place">Lieu de p&egrave;lerinage et retraite</option>
                                                                <option value="travel">&Eacute;v&eacute;nement</option>
                                                            </select>
                                                            <small class="form-text color help-retirement">Vous recherchez un lieu de p&egrave;lerinage ou de
                                                                retraite</small>
                                                        </div>
                                                    </div>
                                                    <div class="retirement-place">
                                                        {% crispy retirement_place_form %}
                                                    </div>
                                                    <div class="retirement-travel">
                                                        {% crispy retirement_travel_form %}
                                                    </div>
                                                    <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                                        <button class="button btn-block retirement-search-submit">
                                                            Rechercher
                                                        </button>
                                                    </div>
                                                </form>
                                                <div class="row retirement-search-list"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}