{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail templates social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="post-image">
                                        {% thumbnail service.image "730x398" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ service.title }}">
                                        {% empty %}
                                            <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                 alt="{{ service.title }}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="down-content">
                                        <h4>{{ service.title }}</h4>
                                        <div class="mt-4 mb-4 content-safe">{{ service.description|safe }}</div>
                                        <div class="mt-4 mb-4 row">
                                            <div class="col-6">
                                                <ul>
                                                    {% display_field service "responsible" %}
                                                    <li>
                                                        {{ service.location|default_if_none:"&agrave; venir" }}
                                                    </li>
                                                    {% display_field service "youtube" %}
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul>
                                                    {% display_field service.responsible "contact" %}
                                                    {% display_field service "location_detail" %}
                                                    {% display_field service "website" %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-6">
                                                <ul>
                                                    {% for servicedetail in service.servicedetails.all %}
                                                        <li>
                                                            <strong>{{ servicedetail.label }} : </strong>
                                                            <span class="meta-data">
                                                        <span class="meta-data">{{ servicedetail.value|default:"&Agrave; venir" }}</span>
                                                    </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7 col-md-6 offset-lg-5 offset-md-6">
                                                <!-- Post Single - Share -->
                                                <div class="si-share noborder clearfix">
                                                    <span>Partagez ce service :</span>
                                                    <div>
                                                        {% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i>' %}
                                                        {% post_to_twitter '<text_to_post>' request.build_absolute_uri '<i class="icon-twitter"></i>' %}
                                                        {% post_to_whatsapp request.build_absolute_uri '<i class="icon-whatsapp"></i>' %}
                                                        {% post_to_telegram '<text_to_post>' request.build_absolute_uri '<i class="icon-telegram"></i>' %}
                                                        {% post_to_linkedin '#' %}
                                                        {% post_to_gplus request.build_absolute_uri '<i class="icon-gplus"></i>' %}
                                                        {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri '<i class="icon-email3"></i>' %}
                                                    </div>
                                                </div>
                                                <!-- Post Single - Share End -->
                                            </div>
                                        </div>
                                        <div class="mt-5 last_update">
                                            Date de derni&egrave;re modification : <i>{{ service.updated_at|date:"D, d M Y H:i:s" }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}