{% load thumbnail %}
{% for retirement_place in retirement_place_list %}
    <div class="col-lg-6">
        <div class="standard-post recent-post">
            <div class="post-image">
                <a href="{% url 'core:retirement-place' group.slug denomination.slug retirement_place.slug %}">
                    {% thumbnail retirement_place.image "350x288" crop="80% top" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}"
                             height="{{ im.height }}" alt="{{ retirement_place.title }}">
                    {% empty %}
                        <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                             alt="{{ article.title }}">
                    {% endthumbnail %}
                </a>
            </div>
            <div class="down-content necrology">
                <a href="{% url 'core:retirement-place' group.slug denomination.slug retirement_place.slug %}">
                    <h5 class="color">{{ retirement_place.name }}</h5>
                </a>
                <ul class="small">
                    <li>
                        <strong>Pays : </strong>
                        {{ retirement_place.city.country }}
                    </li>
                    <li>
                        <strong>Localit&eacute; : </strong>
                        {{ retirement_place.city }}
                    </li>
                    <li>
                        <strong>Contact : </strong>
                        {{ retirement_place.contact|default:"&agrave; venir" }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% empty %}
    <div class="col-lg-12">
        Aucun lieu correspondant &agrave; votre recherche trouv&eacute;
    </div>
{% endfor %}
{% comment %}
<div class="row">
    <div class="col-lg-12">
        {% include 'core/layouts/partials/pagination.html' %}
    </div>
</div>{% endcomment %}
