{% load thumbnail utils templates %}
{% for travel in retirement_travel_list %}
    {% with travel.retirement_travel.retirement_place as retirement_place %}
        <div class="col-lg-6">
            <div class="standard-post recent-post">
                <div class="flip-card text-center top-to-bottom pb-1">
                    <div class="flip-card-front bg-info dark noradius" data-height-xl="200">
                        <div class="flip-card-inner nopadding">
                            <div class="card nobg noborder text-center">
                                <div class="card-body nopadding">
                                    <div class="post-image">
                                        {% thumbnail travel.image "350x300" crop="80% top" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ title }}">
                                        {% empty %}
                                            <img src="https://placehold.jp/cccccc/ffffff/350x300.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                 alt="{{ retirement_place.title }}">
                                        {% endthumbnail %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back noradius" data-height-xl="200">
                        <div class="flip-card-inner">
                            <button type="button" class="button button-small retirement-travel-details"
                                    data-id="{{ travel.id }}"
                                    data-group-id="{{ group.id }}"
                                    data-denomination-id="{{ denomination.id }}"
                                    data-toggle="modal"
                                    data-target=".retirementTravelDetailsModal">
                                En Savoir Plus
                            </button>
                        </div>
                    </div>
                </div>
                <div class="down-content retirement pt-2">
                    <h5 class="color retirement-travel-details"
                        data-id="{{ travel.id }}"
                        data-group-id="{{ group.id }}"
                        data-denomination-id="{{ denomination.id }}"
                        data-toggle="modal"
                        data-target=".retirementTravelDetailsModal">
                        {{ travel.retirement_travel.title }}
                    </h5>
                    <ul class="small">
                        {% display_field travel "departure_date" %}
                        <li style="word-wrap: break-word;">
                            <strong>Lieu </strong>
                            <a href="{% url 'core:retirement-place' group.slug denomination.slug retirement_place.slug %}"
                               class="color">
                                {{ retirement_place.name }}
                            </a>
                        </li>
                        {% display_field retirement_place.city "country" %}
                        {% display_field retirement_place "city" "Localité" %}
                        {% display_field retirement_place "contact" "Contact Téléphonique" %}
                    </ul>
                </div>
            </div>
        </div>
    {% endwith %}
{% empty %}
    <div class="col-lg-12">
        Aucun voyage trouv&eacute;
    </div>
{% endfor %}
