{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail templates utils %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="down-content">
                                        <h4 class="mb-2">{{ retirement_place.name }}</h4>
                                    </div>
                                    <div class="post-image">
                                        {% thumbnail retirement_place.image "730x398" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ retirement_place.title }}">
                                        {% empty %}
                                            <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                 alt="{{ retirement_place.name }}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="down-content">
                                        <div class="mt-4 mb-4 content-safe">{{ retirement_place.description|safe }}</div>
                                        <div class="mt-4 mb-4">
                                            <div class="title-block">
                                                <h3>Infos Pratiques</h3>
                                            </div>
                                            <div class="mt-4 mb-4 row">
                                                <div class="col-6">
                                                    <ul>
                                                        <li>
                                                            <strong>Objet de d&eacute;votion : </strong>
                                                            {{ retirement_place.devotion_object }}
                                                        </li>
                                                        <li>
                                                            <strong>Pays : </strong>
                                                            {{ retirement_place.city.country }}
                                                        </li>
                                                        <li>
                                                            <strong>Localit&eacute; : </strong>
                                                            {{ retirement_place.city }}
                                                        </li>
                                                        <li>
                                                            <strong>Type d'environnement : </strong>
                                                            {{ retirement_place.environment|default:"&agrave; venir" }}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul>
                                                        <li>
                                                            <strong>Rep&egrave;res g&eacute;ographiques : </strong>
                                                            {{ retirement_place.location_detail|default:"&agrave; venir" }}
                                                        </li>
                                                        {% display_field retirement_place "contact" %}
                                                        {% display_field retirement_place "fax" %}
                                                        {% display_field retirement_place "email" %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-4 row">
                                            <div class="col-6 bottommargin-sm">
                                                <div class="clearfix">
                                                    <div class="entry-title">
                                                        <h4 class="nobottommargin">Pour qui ?</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <ul class="nobottommargin">
                                                                {% for target in retirement_place.target.all %}
                                                                    <li>
                                                                        {{ target|default:"&agrave; venir" }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 bottommargin-sm">
                                                <div class="clearfix">
                                                    <div class="entry-title">
                                                        <h4 class="nobottommargin">Pourquoi ?</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <ul class="nobottommargin">
                                                                {% for reason in retirement_place.reason.all %}
                                                                    <li>
                                                                        {{ reason|default:"&agrave; venir" }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-4 row">
                                            <div class="col-6 bottommargin-sm">
                                                <div class="clearfix">
                                                    <div class="entry-title">
                                                        <h4 class="nobottommargin">Types de motivations ?</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <ul class="nobottommargin">
                                                                {% for motivation_type in retirement_place.motivation_type.all %}
                                                                    <li>
                                                                        {{ motivation_type|default:"&agrave; venir" }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 bottommargin-sm">
                                                <div class="clearfix">
                                                    <div class="entry-title">
                                                        <h4 class="nobottommargin">Recours ?</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <ul class="nobottommargin">
                                                                {% for recourse in retirement_place.recourse.all %}
                                                                    <li>
                                                                        {{ recourse|default:"&agrave; venir" }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-4 content-to-hide">
                                            <div class="title-block toggle-content">
                                                <h3>Liens utiles</h3>
                                            </div>
                                            <div class="mt-4 mb-4 row to-hide">
                                                {% for link in retirement_place.links.all %}
                                                    <div class="col-6 bottommargin-sm">
                                                        <div class="clearfix">
                                                            <div class="entry-title">
                                                                <h4 class="nobottommargin">{{ link.link.name }}</h4>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12">
                                                                    <ul class="nobottommargin">
                                                                        <li>
                                                                            <strong>{{ link.type|default:"&agrave; venir" }}</strong>
                                                                        </li>
                                                                        <li>
                                                                            <a href="{{ link.url }}" target="_blank"
                                                                               class="button button-mini button-reveal tright nomargin">
                                                                                <span>{{ link.title }}</span><i class="icon-browser"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <div class="col-12">&agrave; venir</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="mt-5 last_update">
                                            Date de derni&egrave;re modification : <i>{{ retirement_place.updated_at|date:"D, d M Y H:i:s" }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}