{% extends 'administrator/common/layout.html' %}
{% load templates %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content_header %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">Activités</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Activités</li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-6">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">{{ place_activity }}</h4>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        {% if form.non_field_errors %}
                            <div class="non-field-errors col-12">
                                {% for err in form.non_field_errors %}
                                    <p class="text-danger">{{ err }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% crispy form %}
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- ./col -->
            <div class="col-6">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">Programmations</h4>
                    </div>
                    <div class="box-body place-activity-list">
                        {% if not activity_detail_list %}
                            Pas de programmation effectu&eacute;e pour le moment
                        {% else %}
                            <div id="accordion">
                                <div class="box box-bordered border-primary">
                                    {% for activity_detail in activity_detail_list %}
                                        <div class="box-header with-border" id="heading{{ forloop.counter0 }}">
                                            <h4 class="box-title">
                                                <button class="btn btn-link {% if forloop.counter0 != 0 %}collapsed{% endif %}"
                                                        data-toggle="collapse"
                                                        data-target="#collapse{{ forloop.counter0 }}"
                                                        aria-expanded="{% if forloop.counter0 == 0 %}true{% else %}false{% endif %}"
                                                        aria-controls="collapse{{ forloop.counter0 }}">
                                                    <i class="fa" aria-hidden="true"></i> {{ activity_detail }}
                                                </button>
                                                <a href="{% url 'administrator:schedule-update' activity_detail.pk %}">
                                                    <i class="fa fa-edit"></i> Modifier
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse{{ forloop.counter0 }}"
                                             class="collapse {% if forloop.counter0 == 0 %}show{% endif %}"
                                             aria-labelledby="heading{{ forloop.counter0 }}"
                                             data-parent="#accordion">
                                            <div class="box-body">
                                                <div class="col-12">
                                                    <dl class="dl">
                                                        {% admin_display_field activity_detail "date" %}
                                                        {% admin_display_field activity_detail "officiant" %}
                                                        {% admin_display_field activity_detail "language" %}
                                                        <dt>Messe en ligne</dt>
                                                        <dd>
                                                            {% if not activity_detail.online_prayer %}
                                                                &agrave; venir
                                                            {% else %}
                                                                <a href="{{ activity_detail.online_prayer }}" target="_blank"
                                                                   class="btn btn-primary btn-flat">
                                                                    <i class="fa fa-globe"></i> {{ activity_detail.online_prayer }}
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                        {% admin_display_field activity_detail "particularity" %}
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}