{% extends 'administrator/common/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content_header %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">Activités</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Activités</li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-6">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">{{ page_title }}</h4>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form action="{% url 'administrator:activity-update' object.pk %}" method="post">
                        {% if form.non_field_errors %}
                            <div class="non-field-errors col-12">
                                {% for err in form.non_field_errors %}
                                    <p class="text-danger">{{ err }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {{ form.media }}
                        {{ form.place }}
                        <div class="box-body">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="activity">
                                        {{ form.activity|as_crispy_field }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="recurrences">
                                        {{ form.recurrences|as_crispy_field }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="start_time">
                                        {{ form.start_time|as_crispy_field }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="end_time">
                                        {{ form.end_time|as_crispy_field }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-info">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!-- ./col -->
            <div class="col-6">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">Liste des horaires</h4>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-hover activity_list">
                                <tr>
                                    <th>Activité</th>
                                    <th>Jour</th>
                                    {#                                    <th>Occurences</th>#}
                                    <th>Début</th>
                                    <th>Fin</th>
                                    <th>Actions</th>
                                </tr>
                                {% for place_activity in place_activity_list %}
                                    <tr>
                                        <td>{{ place_activity.activity }}</td>
                                        {#                                        <td class="recurrence" data-value="{{ place_activity.recurrences }}">{{ place_activity.recurrences }}</td>#}
                                        <td>{{ place_activity.activity.get_day_of_week_display }}</td>
                                        <td>{{ place_activity.start_time|default_if_none:"&agrave; venir" }}</td>
                                        <td>{{ place_activity.end_time|default_if_none:"&agrave; venir" }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'administrator:schedule-create' place_activity.pk %}" class="btn btn-success"><i
                                                        class="fa fa-cogs"></i></a>
                                                <button class="btn btn-info place-activity-edit" data-pk="{{ place_activity.pk }}"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger place-activity-delete"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}