{% load thumbnail %}
{% for event in results %}
    <div class="row result-row mb-5">
        <div class="col-3">
            <a href="{% url 'core:event' group.slug denomination.slug event.slug %}">
                {% thumbnail event.image "320x240" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}"
                         alt="{{ event.title }}">
                {% empty %}
                    <img src="https://placehold.jp/cccccc/ffffff/320x240.png?text=Image%20non%20disponible"
                         alt="{{ event.title }}">
                {% endthumbnail %}
            </a>
        </div>
        <div class="col-9">
            <a href="{% url 'core:event' group.slug denomination.slug event.slug %}">
                <h4 class="mb-3">{{ event.title }}</h4>
            </a>
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li>
                            <strong>
                                {% if event.is_full_day_event %}
                                    Date:
                                    {{ event.start_date|date:"D d M Y" }}
                                {% else %}
                                    {{ event.start_date|date:"D d" }}
                                    au {{ event.end_date|date:"D d M Y" }}
                                {% endif %}
                            </strong>
                        </li>
                        <li>
                            <strong>{{ event.location|default_if_none:"&agrave; venir" }}</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li>
                            <strong>
                                {% if event.is_full_day_event %}
                                    Toute la journ&eacute;e
                                {% else %}
                                    De {{ event.start_time }}
                                    &agrave; {{ event.end_time }}
                                {% endif %}
                            </strong>
                        </li>
                        <li>
                            <strong>R&eacute;p&egrave;re G&eacute;ographique</strong>
                            {{ event.location_detail|default:event.place|default_if_none:"&agrave; venir" }}
                        </li>
                        <li>
                            {% if event.url %}
                                <a href="{{ event.url }}" target="_blank"
                                   class="button button-mini button-reveal tright">
                                    <span>Ouvrir la page de &eacute;v&eacute;nement</span><i class="fa fa-globe"></i>
                                </a>
                            {% elif event.is_popup %}
                                <button class="button button-mini button-reveal tright get-event-button" data-event_id="{{ event.id }}">
                                    <span>Plus d'infos</span><i class="fa fa-arrow-right"></i>
                                </button>
                            {% else %}
                                <a href="{% url 'core:event' group.slug denomination.slug event.slug %}"
                                   class="button button-mini button-reveal tright">
                                    <span>Plus d'infos sur l'&eacute;v&eacute;nement</span><i class="fa fa-arrow-right"></i>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}