{% load templates thumbnail %}
{% for service in results %}
    <div class="row result-row mb-5">
        <div class="col-3">
            <a href="{% url 'core:service' group.slug denomination.slug service.slug %}">
                {% thumbnail service.image "320x240" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}"
                         alt="{{ service.name }}">
                {% empty %}
                    <img src="https://placehold.jp/cccccc/ffffff/320x240.png?text=Image%20non%20disponible"
                         alt="{{ service.name }}">
                {% endthumbnail %}
            </a>
        </div>
        <div class="col-9">
            <a href="{% url 'core:service' group.slug denomination.slug service.slug %}">
                <h4 class="mb-3">{{ service }}</h4>
            </a>
            <div class="row">
                <div class="col-6">
                    <ul>
                        {% display_field service "responsible" %}
                        <li>
                            <strong>{{ service.location }}</strong>
                        </li>
                        {% display_field service "contact" %}
                        {% comment %}{% for servicedetail in service.servicedetails.all %}
                        <li>
                            <strong>{{ servicedetail.label }} : </strong>
                            {{ servicedetail.value|default:"&agrave; venir" }}
                        </li>
                    {% endfor %}{% endcomment %}
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        {% display_field service.responsible "contact" %}
                        <li>
                            <strong>R&eacute;p&egrave;re G&eacute;ographique</strong>
                            {{ service.location_detail|default:service.place|default_if_none:"&agrave; venir" }}
                        </li>
                        <li>
                            {% if service.url %}
                                <a href="{{ service.url }}" target="_blank"
                                   class="button button-mini button-reveal tright">
                                    <span>Ouvrir la page de &eacute;v&eacute;nement</span><i class="fa fa-globe"></i>
                                </a>
                            {% elif service.is_popup %}
                                <button class="button button-mini button-reveal tright get-service-button" data-service_id="{{ service.id }}">
                                    <span>Plus d'infos</span><i class="fa fa-arrow-right"></i>
                                </button>
                            {% else %}
                                <a href="{% url 'core:service' group.slug denomination.slug service.slug %}"
                                   class="button button-mini button-reveal tright">
                                    <span>Plus d'infos</span><i class="fa fa-arrow-right"></i>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}