{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">
                            {% for article in article_list %}
                                <div class="col-lg-12">
                                    <div class="standard-post">
                                        <div class="post-image">
                                            <a href="{{ article.get_absolute_url }}">
                                                {% thumbnail article.image "730x303" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ article.title }}">
                                                {% empty %}
                                                    <img src="https://placehold.jp/cccccc/ffffff/730x303.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                         alt="{{ article.title }}">
                                                {% endthumbnail %}
                                            </a>
                                        </div>
                                        <div class="down-content">
                                            <div class="meta-category">
                                                <span>{{ article.category.name }}</span>
                                            </div>
                                            <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4>
                                            </a>
                                            <ul class="post-info">
                                                <li><i class="fa fa-calendar"></i> {{ article.published_on|date:"j F Y H:i" }}</li>
                                                <li><i class="fa fa-user-o"></i> {{ article.created_by }}</li>
                                            </ul>
                                            <p>{{ article.excerpt }}</p>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="comments-info">
                                                        <i class="fa fa-eye"></i>
                                                        <span>0</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-6 offset-lg-5 offset-md-6">
                                                    <!-- Post Single - Share -->
                                                    <div class="si-share noborder clearfix">
                                                        <span>Partagez cette page :</span>
                                                        <div>
                                                            {% post_to_facebook article.get_absolute_url '<i class="icon-facebook"></i>' %}
                                                            {% post_to_twitter '<text_to_post>' article.get_absolute_url '<i class="icon-twitter"></i>' %}
                                                            {% post_to_whatsapp article.get_absolute_url '<i class="icon-whatsapp"></i>' %}
                                                            {% post_to_telegram '<text_to_post>' article.get_absolute_url '<i class="icon-telegram"></i>' %}
                                                            {% post_to_linkedin '#' %}
                                                            {% post_to_gplus article.get_absolute_url '<i class="icon-gplus"></i>' %}
                                                            {% send_email '<subject>' '<text_to_post>' article.get_absolute_url '<i class="icon-email3"></i>' %}
                                                        </div>
                                                    </div>
                                                    <!-- Post Single - Share End -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                {% include 'core/layouts/partials/pagination.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}