{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-4 d-none d-sm-none d-md-none d-lg-block">
                                <div class="single-post">
                                    <div class="post-image">
                                        {% if necrology.image|is_portrait %}
                                            <div class="portrait">
                                                {% thumbnail necrology.image "350" crop="100%" format="PNG" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ necrology.title }}">
                                                {% empty %}
                                                    <img src="https://placehold.jp/cccccc/ffffff/350x350.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                         alt="{{ necrology.title }}">
                                                {% endthumbnail %}
                                            </div>
                                        {% else %}
                                            <div class="landscape">
                                                {% thumbnail necrology.image "x300" crop="bottom" format="PNG" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ necrology.title }}">
                                                {% empty %}
                                                    <img src="https://placehold.jp/cccccc/ffffff/300x300.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                         alt="{{ item.subject }}">
                                                {% endthumbnail %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="down-content necrology">
                                        <h3>{{ necrology.title }}</h3>
                                        <ul class="post-info">
                                            <li><i class="fa fa-calendar"></i> {{ necrology.date }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="single-post center d-block d-sm-none d-md-none d-lg-none">
                                    <div class="post-image">
                                        {% if necrology.image|is_portrait %}
                                            <div class="portrait">
                                                {% thumbnail necrology.image "350" crop="100%" format="PNG" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ necrology.title }}">
                                                {% empty %}
                                                    <img src="https://placehold.jp/cccccc/ffffff/350x350.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                         alt="{{ necrology.title }}">
                                                {% endthumbnail %}
                                            </div>
                                        {% else %}
                                            <div class="landscape">
                                                {% thumbnail necrology.image "x300" crop="bottom" format="PNG" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ necrology.title }}">
                                                {% empty %}
                                                    <img src="https://placehold.jp/cccccc/ffffff/300x300.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                         alt="{{ item.subject }}">
                                                {% endthumbnail %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="down-content necrology">
                                        <h3>{{ necrology.title }}</h3>
                                        <i class="fa fa-calendar"></i> {{ necrology.date }}
                                    </div>
                                </div>
                                <div class="single-post">
                                    <div class="down-content necrology content-to-hide">
                                        {% if necrology.has_birth %}
                                            <div class="title-block toggle-content">
                                                <h3>&nbsp;Anniversaire de d&eacute;c&egrave;s</h3>
                                            </div>
                                            <div class="">
                                                <div class="bottommargin-sm">
                                                    {{ necrology.in_memoriam|safe|default:"&agrave; venir" }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if necrology.has_thanks %}
                                            <div class="title-block toggle-content">
                                                <h3>&nbsp;Remerciements</h3>
                                            </div>
                                            <div class="{% if necrology.has_birth %}to-hide{% endif %}">
                                                <div class="bottommargin-sm">
                                                    {{ necrology.thanks|safe|default:"&agrave; venir" }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="title-block toggle-content">
                                            <h3>&nbsp;Annonce</h3>
                                        </div>
                                        <div class="{% if necrology.has_birth or necrology.has_thanks %}to-hide{% endif %}">
                                            <div class="bottommargin-sm">
                                                {{ necrology.content|safe|default:"&agrave; venir" }}
                                            </div>
                                        </div>
                                        <div class="title-block toggle-content">
                                            <h3>&nbsp;Programme des Obs&egrave;ques</h3>
                                        </div>
                                        <div class="to-hide">
                                            <div class="bottommargin-sm">
                                                {{ necrology.ceremony|safe|default:"&agrave; venir" }}
                                            </div>
                                        </div>
                                        <div class="title-block toggle-content">
                                            <h3>&nbsp;Cahier de condol&eacute;ances</h3>
                                        </div>
                                        <div class="to-hide">
                                            <div class="bottommargin-sm">
                                                {% if necrology.necrologycondolences_set.count %}
                                                    <div class="col-lg-12">
                                                        <div class="widget-post comments p-3">
                                                            <div class="widget-content">
                                                                <ul class="comments">
                                                                    {% for condoleance in necrology.necrologycondolences_set.all %}
                                                                        <li>
                                                                            <div class="right-content noleftmargin">
                                                                                <h6>{{ condoleance.full_name }}
                                                                                    {% if condoleance.link_with_death %}
                                                                                        <span class="nott noleftmargin">({{ condoleance.get_link_with_death_display }})</span>
                                                                                    {% endif %}
                                                                                </h6>
                                                                                <h6>
                                                                                    <span class="nott noleftmargin">{{ condoleance.country }} {{ condoleance.city }}</span>
                                                                                </h6>
                                                                                <p>{{ condoleance.message }}</p>
                                                                                <h6>
                                                                                    <span class="nott noleftmargin">{{ condoleance.created_at|date:"D, d M Y H:i:s" }}</span>
                                                                                </h6>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="bottommargin-sm">
                                                <form action="{% url 'core:necrology' group.slug denomination.slug necrology.slug %}" method="post"
                                                      class="nobottommargin">
                                                    {% crispy form %}
                                                    <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                                        <button class="button btn-block">
                                                            Enregistrer
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Post Single - Share -->
                                        <div class="si-share noborder clearfix">
                                            <span>Partagez ce post :</span>
                                            <div>
                                                {% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i>' %}
                                                {% post_to_twitter '<text_to_post>' request.build_absolute_uri '<i class="icon-twitter"></i>' %}
                                                {% post_to_whatsapp request.build_absolute_uri '<i class="icon-whatsapp"></i>' %}
                                                {% post_to_telegram '<text_to_post>' request.build_absolute_uri '<i class="icon-telegram"></i>' %}
                                                {% post_to_linkedin '#' %}
                                                {% post_to_gplus request.build_absolute_uri '<i class="icon-gplus"></i>' %}
                                                {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri '<i class="icon-email3"></i>' %}
                                            </div>
                                        </div>
                                        <!-- Post Single - Share End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}