{% extends 'core/layouts/denomination.html' %}
{% load utils %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row mb-4">
                            <div class="col-12">
                                <form action="{% url 'core:necrology-search' group.slug denomination.slug %}" method="POST"
                                      id="necrology-search-form">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text"
                                               id="necrology-search"
                                               name="necrology_search"
                                               class="form-control necrology-search"
                                               placeholder="Rechercher un avis de décès"
                                               minlength="3"
                                               autocomplete="off">
                                        <div class="input-group-append">
                                            <button class="btn button-color"
                                                    type="submit"
                                                    data-toggle="tooltip"
                                                    title="Chercher">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                {% if is_searched %}
                                    {% if necrology_list.count == 0 %}
                                        Aucun r&eacute;sultat <br>
                                        <a href="{% url 'core:necrology-list' group.slug denomination.slug %}"
                                           class="button button-reveal button-small tright m-0 mt-2">
                                            <i class="fa fa-arrow-right"></i><span>Voir tout</span></a>
                                    {% else %}
                                        {% to_plural necrology_list.count "résultat" "résultats" %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% for necrology in necrology_list %}
                                <div class="col-lg-6">
                                    <div class="standard-post recent-post">
                                        <div class="post-image">
                                            <a href="{% url 'core:necrology' group.slug denomination.slug necrology.slug %}">
                                                {% thumbnail necrology.image "350x288" crop="80% top" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ necrology.title }}">
                                                {% empty %}
                                                    <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                         alt="{{ necrology.title }}">
                                                {% endthumbnail %}
                                            </a>
                                        </div>
                                        <div class="down-content">
                                            <a href="{% url 'core:necrology' group.slug denomination.slug necrology.slug %}">
                                                <h4>{{ necrology.title }}</h4>
                                            </a>
                                            <ul class="post-info">
                                                <li>D&eacute;c&egrave;s survenu le {{ necrology.date }}</li>
                                            </ul>
                                            <p>{{ necrology.excerpt|truncatechars:150 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}