{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">
                            {% for testimony in testimony_list %}
                                <div class="col-lg-12">
                                    <div class="standard-post">
                                        <div class="down-content">
                                            <a href="{% url 'core:testimony' group.slug denomination.slug testimony.slug %}">
                                                <h4>{{ testimony.title }}</h4>
                                            </a>
                                            <ul class="post-info">
                                                <li><i class="fa fa-calendar"></i> {{ testimony.created_at|date:"j F Y" }}</li>
                                                <li><i class="fa fa-eye"></i> 0</li>
                                            </ul>
                                            <p>{{ testimony.excerpt|safe|truncatechars:150 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-12">
                                    Aucun t&eacute;moignage re&ccedil;u pour le moment
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}