{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="post-image">
                                        {% thumbnail testimony.image "730x398" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ testimony.title }}">
                                        {% empty %}
                                            <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                 alt="{{ testimony.title }}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="down-content">
                                        <h4>{{ testimony.title }}</h4>
                                        <ul class="post-info">
                                            <li><i class="fa fa-calendar"></i> {{ testimony.published_on|date:"j F Y H:i" }}</li>
                                            <li><i class="fa fa-eye"></i> 0</li>
                                        </ul>
                                        <div class="mt-4 mb-4 content-safe">{{ testimony.content|safe }}</div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <!-- Post Single - Share -->
                                                <div class="si-share noborder clearfix">
                                                    <span>Partagez ce t&eacute;moignage :</span>
                                                    <div>
                                                        {% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i>' %}
                                                        {% post_to_twitter '<text_to_post>' request.build_absolute_uri '<i class="icon-twitter"></i>' %}
                                                        {% post_to_whatsapp request.build_absolute_uri '<i class="icon-whatsapp"></i>' %}
                                                        {% post_to_telegram '<text_to_post>' request.build_absolute_uri '<i class="icon-telegram"></i>' %}
                                                        {% post_to_linkedin '#' %}
                                                        {% post_to_gplus request.build_absolute_uri '<i class="icon-gplus"></i>' %}
                                                        {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri '<i class="icon-email3"></i>' %}
                                                    </div>
                                                </div>
                                                <!-- Post Single - Share End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}