{% load utils social_share %}
<div class="row result-row mb-5 search-results nobgcolor">
    <div class="col-4">
        {{ place_activity.place.map|safe }}
    </div>
    <div class="col-8">
        <h4 class="mb-3">{{ place_activity.place }}
            <a href="{{ url }}" target="_blank">
                <i class="fa fa-share"></i>
            </a>
        </h4>
        {% if days > 0 %}
            Dans {% to_plural days "jour" "jours" %}
        {% endif %}
        <div class="row">
            <div class="col-6">
                <ul>
                    <li>
                        <strong>Date: </strong>
                        {{ date|date:"D d M Y"|default:"&agrave; venir" }} à {{ place_activity.start_time }}
                    </li>
                    <li>
                        <strong>{{ place_activity.place.location|default_if_none:"&agrave; venir" }}</strong>
                    </li>
                    <li>
                        <strong>Langue </strong>
                        {{ activity_details.language|default:"&agrave; venir" }}
                    </li>
                    <li>
                        <strong>Disposition Particuli&egrave;re </strong>
                        {{ activity_details.particularity|default:"&agrave; venir" }}
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <ul>
                    <li>
                        <strong>C&eacute;l&eacute;brant </strong>
                        {{ activity_details.officiant.full_name|default:"&agrave; venir" }}
                    </li>
                    <li>
                        <strong>R&eacute;p&egrave;re G&eacute;ographique</strong>
                        {{ place_activity.place.location_detail|default:"&agrave; venir" }}
                    </li>
                    {% if activity_details.online_prayer %}
                        <li>
                            <a href="{{ activity_details.online_prayer }}" target="_blank"
                               class="button button-mini button-reveal tright">
                                <span>Suivez la messe en ligne</span><i class="fa fa-globe"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'core:place' place_activity.place.denomination.group.slug place_activity.place.denomination.slug place_activity.place.slug %}"
                           class="button button-mini button-reveal tright">
                            <span>Plus d'infos</span>
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% if frame %}
                {% post_to_facebook request.build_absolute_uri 'Messe | Prions.ci' %}
                {% post_to_twitter 'Messe | Prions.ci' request.build_absolute_uri 'Messe | Prions.ci' %}
                {% post_to_whatsapp request.build_absolute_uri 'Messe | Prions.ci' %}
                {% post_to_telegram 'Messe | Prions.ci' request.build_absolute_uri 'Messe | Prions.ci' %}
                {% post_to_linkedin request.build_absolute_uri %}
                {% post_to_gplus request.build_absolute_uri 'Messe | Prions.ci' %}
                {% send_email 'Messe - Prions.ci' "Vous pouvez consulter cette messe, avoir des informations, faire une demande d'intention" request.build_absolute_uri 'Consultez la messe' %}
            {% endif %}
        </div>
    </div>
</div>