{% load static thumbnail templates utils social_share %}
{% with instance.retirement_travel.retirement_place as retirement_place %}
    <div class="result-rowsearch-results nobgcolor">
        <div class="single-posts">
            <div class="single-post">
                <div class="post-image">
                    {% thumbnail instance.image "730x398" crop="80% top" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}"
                             height="{{ im.height }}" alt="{{ instance.retirement_travel.title }}">
                    {% empty %}
                        <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Aucune%20Image%20trouv%C3%A9e"
                             alt="{{ instance.retirement_travel.title }}">
                    {% endthumbnail %}
                </div>
                <div class="down-content">
                    <div class="mt-4 mb-4 content-safe">{{ instance.description|safe }}</div>
                    <div class="mt-4 mb-4 content-to-hide">
                        <div class="title-block toggle-content">
                            <h3>Infos Pratiques</h3>
                        </div>
                        <div class="mt-4 mb-4 row">
                            <div class="col-6">
                                <ul>
                                    <li style="word-wrap: break-word;">
                                        <strong>Lieu </strong>
                                        <a href="{% url 'core:retirement-place' group.slug denomination.slug retirement_place.slug %}"
                                           class="color">
                                            {{ retirement_place.name }}
                                        </a>
                                    </li>
                                    {% display_field retirement_place.city "country" %}
                                    {% display_field retirement_place "city" "Localité" %}
                                    {% display_field retirement_place "contact" "Contact Téléphonique" %}
                                    {% display_field instance "particularity" %}
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    {% display_field instance "departure_place" %}
                                    {% display_field instance "departure_date" %}
                                    {% display_field instance "arrival_date" %}
                                    <li class="mt-1" style="word-wrap: break-word;">
                                        {% if instance.retirement_travel.order_link %}
                                            <a href="{{ instance.retirement_travel.order_link }}" target="_blank"
                                               class="button button-mini button-reveal tright nomargin">
                                                <span>R&eacute;server</span><i class="icon-browser"></i>
                                            </a>
                                        {% else %}
                                            <button class="button button-mini btn-secondary disabled nomargin" type="button" disabled>
                                                <span>R&eacute;server</span>
                                            </button>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-6 offset-lg-5 offset-md-6">
                                <!-- Post Single - Share -->
                                <div class="si-share noborder clearfix">
                                    <span>Partagez ce voyage :</span>
                                    <div>
                                        {% post_to_facebook request.build_absolute_uri|add:"&open_frame=yes" '<i class="icon-facebook"></i>' %}
                                        {% post_to_twitter '<text_to_post>' request.build_absolute_uri|add:"&open_frame=yes" '<i class="icon-twitter"></i>' %}
                                        {% post_to_whatsapp request.build_absolute_uri|add:"&open_frame=yes" '<i class="icon-whatsapp"></i>' %}
                                        {% post_to_telegram '<text_to_post>' request.build_absolute_uri|add:"&open_frame=yes" '<i class="icon-telegram"></i>' %}
                                        {% post_to_linkedin '#' %}
                                        {% post_to_gplus request.build_absolute_uri|add:"&open_frame=yes" '<i class="icon-gplus"></i>' %}
                                        {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri|add:"&open_frame=yes" '<i class="icon-email3"></i>' %}
                                    </div>
                                </div>
                                <!-- Post Single - Share End -->
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 last_update">
                        Date de derni&egrave;re modification : <i>{{ instance.updated_at|date:"D, d M Y H:i:s" }}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endwith %}