{% load thumbnail %}
<div class="row result-row mb-5">
    <div class="col-3">
        <a href="{% url 'core:event' group.slug denomination.slug item.slug %}">
            {% thumbnail item.image "320x240" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}"
                     alt="{{ item.title }}">
            {% empty %}
                <img src="https://placehold.jp/cccccc/ffffff/320x240.png?text=Image%20non%20disponible"
                     alt="{{ item.title }}">
            {% endthumbnail %}
        </a>
    </div>
    <div class="col-9">
        <a href="{% url 'core:event' group.slug denomination.slug item.slug %}">
            <h4 class="mb-3">{{ item }}</h4>
        </a>
        <div class="row">
            <div class="col-6">
                <ul>
                    <li>
                        <strong>
                            {% if item.is_full_day_event %}
                                Date:
                                {{ item.start_date|date:"D d M Y" }}
                            {% else %}
                                {{ item.start_date|date:"D d" }}
                                au {{ item.end_date|date:"D d M Y" }}
                            {% endif %}
                        </strong>
                    </li>
                    <li>
                        <strong>{{ item.location|default_if_none:"&agrave; venir" }}</strong>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <ul>
                    <li>
                        <strong>
                            {% if item.is_full_day_event %}
                                Toute la journ&eacute;e
                            {% else %}
                                De {{ item.start_time }}
                                &agrave; {{ item.end_time }}
                            {% endif %}
                        </strong>
                    </li>
                    <li>
                        <strong>R&eacute;p&egrave;re G&eacute;ographique</strong>
                        {{ item.location_detail|default:item.place|default_if_none:"&agrave; venir" }}
                    </li>
                    <li>
                        {% if item.url %}
                            <a href="{{ item.url }}" target="_blank"
                               class="button button-mini button-reveal tright">
                                <span>Ouvrir la page de &eacute;v&eacute;nement</span><i class="fa fa-globe"></i>
                            </a>
                        {% elif item.is_popup %}
                            <button class="button button-mini button-reveal tright get-event-button" data-event_id="{{ item.id }}">
                                <span>Plus d'infos</span><i class="fa fa-arrow-right"></i>
                            </button>
                        {% else %}
                            <a href="{% url 'core:event' group.slug denomination.slug item.slug %}"
                               class="button button-mini button-reveal tright">
                                <span>Plus d'infos sur l'&eacute;v&eacute;nement</span><i class="fa fa-arrow-right"></i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>