{% load templates thumbnail %}
<div class="row result-row mb-5">
    <div class="col-3">
        <a href="{% url 'core:service' group.slug denomination.slug item.slug %}">
            {% thumbnail item.image "320x240" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}"
                     alt="{{ item.title }}">
            {% empty %}
                <img src="https://placehold.jp/cccccc/ffffff/320x240.png?text=Image%20non%20disponible"
                     alt="{{ item.title }}">
            {% endthumbnail %}
        </a>
    </div>
    <div class="col-9">
        <a href="{% url 'core:service' group.slug denomination.slug item.slug %}">
            <h4 class="mb-3">{{ item }}</h4>
        </a>
        <div class="row">
            <div class="col-6">
                <ul>
                    {% display_field item "responsible" %}
                    <li>
                        <strong>{{ item.location|default_if_none:"&agrave; venir" }}</strong>
                    </li>
                    {% comment %}{% for servicedetail in item.servicedetails.all %}
                        <li>
                            <strong>{{ servicedetail.label }} : </strong>
                            {{ servicedetail.value|default:"&agrave; venir" }}
                        </li>
                    {% endfor %}{% endcomment %}
                </ul>
            </div>
            <div class="col-6">
                <ul>
                    {% display_field item.responsible "contact" %}
                    <li>
                        <strong>R&eacute;p&egrave;re G&eacute;ographique</strong>
                        {{ item.location_detail|default:item.place|default_if_none:"&agrave; venir" }}
                    </li>
                    <li>
                        {% if item.url %}
                            <a href="{{ item.url }}" target="_blank"
                               class="button button-mini button-reveal tright">
                                <span>Ouvrir la page de &eacute;v&eacute;nement</span><i class="fa fa-globe"></i>
                            </a>
                        {% elif item.is_popup %}
                            <button class="button button-mini button-reveal tright get-service-button" data-service_id="{{ item.id }}">
                                <span>Plus d'infos</span><i class="fa fa-arrow-right"></i>
                            </button>
                        {% else %}
                            <a href="{% url 'core:service' group.slug denomination.slug item.slug %}"
                               class="button button-mini button-reveal tright">
                                <span>Plus d'infos</span><i class="fa fa-arrow-right"></i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>