{% load thumbnail %}
<div class="row result-row mb-5">
    <div class="col-3">
        <a href="{{ item.get_absolute_url }}">
            {% thumbnail item.image "320x240" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}"
                     alt="{{ item.title }}">
            {% empty %}
                <img src="https://placehold.jp/cccccc/ffffff/320x240.png?text=Image%20non%20disponible"
                     alt="{{ item.title }}">
            {% endthumbnail %}
        </a>
    </div>
    <div class="col-9">
        <a href="{% url 'core:place' group.slug denomination.slug item.slug %}">
            <h4 class="mb-3">{{ item }}</h4>
        </a>
        <div class="row">
            <div class="col-6">
                <ul>
                    <li>
                        <strong>Tel S&eacute;cr&eacute;tariat </strong>
                        {{ item.contact|default:"&agrave; venir" }}
                    </li>
                    <li>
                        <strong>{{ item.location|default_if_none:"&agrave; venir" }}</strong>
                    </li>
                    {% if from_geo_loc %}
                        <li class="from_geo_loc">
                            &agrave;
                            <strong>
                                <span class="distance"
                                      data-lat="{{ item.lat|stringformat:"f" }}"
                                      data-lon="{{ item.lon|stringformat:"f" }}">
                                </span>
                            </strong>
                            de moi
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-6">
                <ul>
                    <li>
                        <strong>{{ denomination.denomination_details.responsible }}</strong>
                        {{ item.responsible.full_name|default:"&agrave; venir" }}
                    </li>
                    <li>
                        <strong>R&eacute;p&egrave;re G&eacute;ographique</strong>
                        {{ item.location_detail|default:"&agrave; venir" }}
                    </li>
                    <li>
                        <a href="{% url 'core:place' group.slug denomination.slug item.slug %}"
                           class="button button-mini button-reveal tright">
                            <span>Plus d'infos</span>
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>