{% load thumbnail %}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="by-date-tab" data-toggle="pill" href="#by-date" role="tab" aria-controls="by-date"
           aria-selected="true"><i class="fa fa-list norightmargin"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="by-place-tab" data-toggle="pill" href="#by-place" role="tab" aria-controls="by-place"
           aria-selected="false"><i class="fa fa-table norightmargin"></i></a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="by-date" role="tabpanel" aria-labelledby="by-date-tab">
        <div id="accordion">
            <div class="card noborder">
                {% for date, items in search_result.items %}
                    <div class="card-header mb-1" id="heading{{ forloop.counter0 }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link color {% if forloop.counter0 != 0 %}collapsed{% endif %}"
                                    data-toggle="collapse"
                                    data-target="#collapse{{ forloop.counter0 }}"
                                    aria-expanded="{% if forloop.counter0 == 0 %}true{% else %}false{% endif %}"
                                    aria-controls="collapse{{ forloop.counter0 }}">
                                <i class="fa" aria-hidden="true"></i> {{ date }}
                            </button>
                        </h5>
                    </div>

                    <div id="collapse{{ forloop.counter0 }}"
                         class="collapse {% if forloop.counter0 == 0 %}show{% endif %}"
                         aria-labelledby="heading{{ forloop.counter0 }}"
                         data-parent="#accordion">
                        <div class="card-body nopadding">
                            {% for item in items %}
                                <div class="row result-row mb-5">
                                    <div class="col-3">
                                        <a href="{{ item.place.absolute_url }}">
                                            {% thumbnail item.place.image "350x288" crop="center" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}"
                                                     height="{{ im.height }}" alt="{{ item.place.title }}">
                                            {% empty %}
                                                <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                     alt="{{ item.place.title }}">
                                            {% endthumbnail %}
                                        </a>
                                    </div>
                                    <div class="col-9 nopadding">
                                        <h4 class="mb-3">
                                            <a href="{% url 'core:place' group.slug denomination.slug item.place.slug %}">{{ item.place|default:"&agrave; venir" }}</a>
                                        </h4>
                                        <div class="row">
                                            <div class="col-6">
                                                <ul>
                                                    <li>
                                                        <strong>{{ item.activity.title }} </strong>
                                                        {{ item.start_time|default:"&agrave; venir" }} -
                                                        {{ item.end_time|default:"&agrave; venir" }}
                                                    </li>
                                                    <li>
                                                        <strong>{{ item.place.location|default:"&agrave; venir" }} </strong>
                                                    </li>
                                                    <li>
                                                        <strong>Langue </strong>
                                                        {{ item.activity_details.language|default:"&agrave; venir" }}
                                                    </li>
                                                    <li>
                                                        <strong>Disposition Particuli&egrave;re </strong>
                                                        {{ item.activity_details.particularity|default:"&agrave; venir" }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul>
                                                    <li>
                                                        <strong>C&eacute;l&eacute;brant </strong>
                                                        {{ item.activity_details.officiant.full_name|default:"&agrave; venir" }}
                                                    </li>
                                                    <li>
                                                        <strong>R&eacute;p&egrave;re G&eacute;ographique </strong>
                                                        {{ item.place.location_detail|default:"&agrave; venir" }}
                                                    </li>
                                                    {% if item.activity_details.online_prayer %}
                                                        <li>
                                                            <a href="{{ item.activity_details.online_prayer }}" target="_blank"
                                                               class="button button-mini button-reveal tright">
                                                                <span>Suivez la messe en ligne</span><i class="fa fa-globe"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    <li>
                                                        <a href="{% url 'core:place' group.slug denomination.slug item.place.slug %}"
                                                           class="button button-mini button-reveal tright">
                                                            <span>Plus d'infos</span>
                                                            <i class="fa fa-arrow-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>