{% load utils sitetree %}
<section class="large-gap call-to-action">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-content" style="background-image:url({{ group.background.url }}); background-position-y: 30%;
                    background-size: cover;">
                <div class="container">
                    <div class="row">
                        <div class="row col-lg-8">
                            <div class="left-content">
                                <h1 class="h2 nott color-white">{{ page_title|default:"Bienvenue sur le portail Chr&eacute;tien de Prions.ci"|truncatewords:10 }}</h1>
                            </div>
                        </div>
                        <div class="row col-lg-8">
                            {% sitetree_breadcrumbs from "menu_"|add:denomination.slug template "sitetree/breadcrumbs.html" %}
                            {% comment %}<ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'core:denomination' group.slug denomination.slug %}">Accueil</a>
                                    </li>
                                    {% if page_name|in_list:'post,posts_search,categories' %}
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:article-list' group.slug denomination.slug %}">News</a>
                                        </li>
                                    {% endif %}
                                    {% if page_name|in_list:'announce,announces_search' %}
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:announce-list' group.slug denomination.slug %}">Annonces</a>
                                        </li>
                                    {% endif %}
                                    {% if page_name|in_list:'faith' %}
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:foi-list' group.slug denomination.slug %}">Foi {{ denomination.denomination_details.common_name }}</a>
                                        </li>
                                    {% endif %}
                                    {% if page_name|in_list:'place' %}
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:directory-lookup' group.slug denomination.slug %}">Je Recherche</a>
                                        </li>
                                    {% endif %}
                                    {% if menu|in_list:'tools' %}
                                        <li class="breadcrumb-item">
                                            <a href="#">Outils</a>
                                        </li>
                                    {% endif %}
                                    {% if page_name|in_list:'media_list,media_type,media' %}
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:media-list' group.slug denomination.slug %}">M&eacute;diath&egrave;que</a>
                                        </li>
                                    {% endif %}
                                    {% if page_name|in_list:'receive-list,receive_create,receive_detail' %}
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:receive-list' group.slug denomination.slug %}">Donner & Recevoir</a>
                                        </li>
                                    {% endif %}
                                    {% if page_name == 'posts_search' %}
                                        <li class="breadcrumb-item">Rechercher un article</li>
                                    {% else %}
                                        {% if page_name != 'denomination' %}
                                            <li class="breadcrumb-item active">{{ page_title }}</li>
                                        {% endif %}
                                    {% endif %}
                                </ol>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>