{% load templates utils %}
<div class="main-sidebar right-sidebar">
    <div class="row">
        <div class="col-lg-12 col-sm-6 col-md-6 map bottommargin-sm">
            <div class="fancy-title title-dotted-border title-center">
                <h4 class="color">Situation G&eacute;ographique</h4>
            </div>
            {{ place.map | default:"Pas encore disponible" | safe }}
        </div>

        <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
            <a href="{{ place.e_shop|default_if_none:"#" }}" target="_blank"
               class="button button-3d button-amber btn-block noleftmargin norightmargin text-center">
                E-boutique {{ place.name }}
            </a>
        </div>

        {% if not denomination.slug|in_list:"islam" %}
            <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                <a href="{% url 'core:activity-request-from-place' group.slug denomination.slug place.slug %}"
                   class="button button-3d button-amber btn-block noleftmargin norightmargin text-center">
                    {{ denomination.denomination_details.activity_request }}
                </a>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                <div class="place_sidebar clearfix">
                    <div class="fancy-title title-dotted-border title-center">
                        <h4 class="color">Heures de messes</h4>
                    </div>
                    <div class="hours">
                        <div class="row">
                            {% for day, place_activities in mass_hours.items %}
                                <div class="col-6">
                                    <div class="bottommargin-sm">
                                        <h5>{{ day }}</h5>
                                        <ul>
                                            {% for place_activity in place_activities %}
                                                <li data-toggle="tooltip"
                                                    title="{{ place_activity.start_time|time:"H:i" }} - {{ place_activity.end_time|time:"H:i" }}">
                                                    <strong>{{ place_activity.activity.title }}:</strong>
                                                    <span>{{ place_activity.start_time|time:"H:i" }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                <div class="place_sidebar clearfix">
                    <div class="fancy-title title-dotted-border title-center">
                        <h4 class="color">Autres horaires</h4>
                    </div>
                    <div class="hours">
                        <div class="row">
                            {% for day, place_activities in other_hours.items %}
                                <div class="col-6">
                                    <div class="bottommargin-sm">
                                        <h5>{{ day }}</h5>
                                        <ul>
                                            {% for place_activity in place_activities %}
                                                <li data-toggle="tooltip"
                                                    title="{{ place_activity.start_time|time:"H:i" }} - {{ place_activity.end_time|time:"H:i" }}">
                                                    <strong>{{ place_activity.activity.title }}:</strong>
                                                    <span>{{ place_activity.start_time|time:"H:i" }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% calendar %}
        {% necrology %}

        {% if not request.user_agent.is_mobile %}
            {% if denomination.slug == "islam" %}
                {% include "core/denomination/partials/widgets/islam_prayer_time.html" %}
            {% else %}
                <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                    <button type="button"
                            class="button button-3d btn-block noleftmargin norightmargin button-desc next-celebration"
                            data-group="{{ group.id }}"
                            data-denomination="{{ denomination.id }}"
                            data-activity-type="messe"
                            data-toggle="modal">
                        <div>Prochaine Messe</div>
                        <span>Trouver la messe la plus proche</span>
                    </button>
                </div>
            {% endif %}
            <div class="col-lg-12 col-sm-6 col-md-6 bottommargin-sm">
                <div class="i-wish">
                    {% i_wish %}
                </div>
            </div>
        {% endif %}
    </div>
</div>