{% load static templates utils %}
<div class="main-sidebar right-sidebar">
    <div class="row">
        <div class="col-lg-12 col-sm-6 col-md-6">
            <div class="ads">
                <a href="/media/ads/celebration-VS.jpg" data-lightbox="image">
                    <img src="{% get_media_prefix %}ads/celebration-VS.jpg" width="350" height="288" alt="{{ picture.title }}">
                </a>
            </div>
        </div>

        {% if page_name == 'retirement' %}
            <div class="col-lg-12 col-sm-6 col-md-6 map bottommargin-sm">
                <div class="fancy-title title-dotted-border title-center">
                    <h4 class="color">Situation G&eacute;ographique</h4>
                </div>
                {{ retirement_place.map | default:"Pas encore disponible" | safe }}
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                <a href="{{ retirement_place.e_shop|default_if_none:"#" }}" target="_blank"
                   class="button button-3d button-amber btn-block noleftmargin norightmargin text-center e-shop-button">
                    E-boutique <br> {{ retirement_place.name }}
                </a>
            </div>
        {% endif %}

        {% if not request.user_agent.is_mobile and page_name == 'necrology' %}
            <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                <div class="necrology-div center">
                    <a href="{% url 'core:activity-request-from-necrology' group.slug denomination.slug necrology.slug %}"
                       class="button button-3d button-amber noleftmargin norightmargin text-center necrology">
                        {{ denomination.denomination_details.necrology_activity_request }}
                    </a>
                </div>
            </div>
        {% endif %}

        {% if menu == 'receives' %}
            {% if page_name|in_list:"receive_detail,receive_create" %}
                <div class="col-lg-12 col-sm-6 col-md-6 bottommargin-sm">
                    <div class="receive_div center">
                        <a href="{% url 'core:receive-list' group.slug denomination.slug %}"
                           class="button button-3d button-color btn-block noleftmargin norightmargin">
                            <div>Faire une bonne action</div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if page_name|in_list:"receive_list,receive_detail" and not request.user_agent.is_mobile %}
                <div class="col-lg-12 col-sm-6 col-md-6 bottommargin-sm">
                    <div class="receive-div center">
                        <a href="{% url 'core:receive-create' group.slug denomination.slug %}" data-animate="tada"
                           class="button button-3d button-red btn-block noleftmargin norightmargin button-desc receive">
                            <div>SOS</div>
                            <span>Solliciter une aide</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if page_name != "lookup" %}
            {% if not request.user_agent.is_mobile %}
                {% if denomination.slug == "islam" %}
                    {% include "core/denomination/partials/widgets/islam_prayer_time.html" %}
                {% else %}
                    {% if page_name != 'necrology' %}
                        <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                            <button type="button"
                                    class="button button-3d btn-block noleftmargin norightmargin button-desc next-celebration"
                                    data-group="{{ group.id }}"
                                    data-denomination="{{ denomination.id }}"
                                    data-activity-type="messe"
                                    data-toggle="modal">
                                <div>Prochaine Messe</div>
                                <span>Trouver la messe la plus proche</span>
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="col-lg-12 col-sm-6 col-md-6 bottommargin-sm">
                    <div class="i-wish">
                        {% i_wish %}
                    </div>
                </div>
            {% elif request.user_agent.is_mobile and menu|in_list:"receives" %}
                {% if denomination.slug == "islam" %}
                    {% include "core/denomination/partials/widgets/islam_prayer_time.html" %}
                {% else %}
                    {% if page_name != 'necrology' %}
                        <div class="col-lg-12 col-sm-12 col-md-12 bottommargin-sm">
                            <button type="button"
                                    class="button button-3d btn-block noleftmargin norightmargin button-desc next-celebration"
                                    data-group="{{ group.id }}"
                                    data-denomination="{{ denomination.id }}"
                                    data-activity-type="messe"
                                    data-toggle="modal">
                                <div>Prochaine Messe</div>
                                <span>Trouver la messe la plus proche</span>
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="col-lg-12 col-sm-6 col-md-6 bottommargin-sm">
                    <div class="i-wish">
                        {% i_wish %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if page_name == "necrology" %}
            {% necrology %}
        {% endif %}

        {% calendar %}

        {% if menu != "necrology" %}
            {% necrology %}
        {% endif %}
    </div>
</div>