{% load static %}
<!-- Vendors Style-->
<link rel="stylesheet" href="{% static 'administrator/css/vendors_css.css' %}">

<!-- Style-->
<link rel="stylesheet" href="{% static 'administrator/css/style.css' %}">
<link rel="stylesheet" href="{% static 'administrator/css/skin_color.css' %}">
<link rel="stylesheet" href="{% static 'administrator/css/custom.min.css' %}">
<script src="{% url 'jsi18n' %}"></script>