{% load static %}
<!-- Vendor JS -->
<script src="{% static 'administrator/js/vendors.min.js' %}"></script>
<script src="{% static 'administrator/assets/icons/feather-icons/feather.min.js' %}"></script>

<!-- Datatables -->
<script src="{% static 'administrator/assets/vendor_components/datatable/datatables.min.js' %}"></script>
<script src="{% static 'administrator/js/pages/data-table.js' %}"></script>

<!--  Toastr -->
<script src="{% static 'administrator/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js' %}"></script>

<!-- Forms JS -->
<script src="{% static 'administrator/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'administrator/assets/vendor_plugins/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'administrator/js/pages/advanced-form-element.js' %}"></script>

<!-- Sunny Admin App -->
<script src="{% static 'administrator/js/template.js' %}"></script>
<!--script src="https://jakubroztocil.github.io/rrule/dist/es5/rrule.min.js"></script-->
<script type="text/javascript" src="{% static 'administrator/js/rrule.min.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'administrator/js/modal.min.js' %}"></script>

{% for message in messages %}
    <script>
        $.toast({
            text: '{{ message }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: '{{ message.tags }}',
            hideAfter: 3000,
            stack: 6
        });
    </script>
{% endfor %}