{% load static %}
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
        <div class="user-profile">
            <div class="ulogo">
                <a href="{% url 'administrator:place' %}">
                    <!-- logo for regular state and mobile devices -->
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'core/images/logo.png' %}" alt="Logo Prions.ci" width="100">
                    </div>
                </a>
            </div>
        </div>

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
            {% comment %}<li>
                <a href="{% url 'administrator:index' %}">
                    <i data-feather="pie-chart"></i>
                    <span>Dashboard</span>
                </a>
            </li>{% endcomment %}
            <li class="{% if menu == 'place' %}active{% endif %}">
                <a href="{% url 'administrator:place' %}">
                    <i data-feather="home"></i>
                    <span>Paroisse</span>
                </a>
            </li>
            <li class="{% if menu == 'activity' %}active{% endif %}">
                <a href="{% url 'administrator:activity' %}">
                    <i data-feather="clock"></i>
                    <span>Activités</span>
                </a>
            </li>
            <li class="treeview {% if menu == 'officiant' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="user"></i>
                    <span>Officants</span>
                    <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'officiant_list' %}active{% endif %}">
                        <a href="{% url 'administrator:officiant-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'officiant_create' %}active{% endif %}">
                        <a href="{% url 'administrator:officiant-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'organization' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="briefcase"></i>
                    <span>Organisations</span>
                    <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'organization_list' %}active{% endif %}">
                        <a href="{% url 'administrator:organization-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'organization_create' %}active{% endif %}">
                        <a href="{% url 'administrator:organization-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'person' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="users"></i>
                    <span>Responsables</span>
                    <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'person_list' %}active{% endif %}">
                        <a href="{% url 'administrator:person-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'person_create' %}active{% endif %}">
                        <a href="{% url 'administrator:person-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'category' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="folder"></i>
                    <span>Cat&eacute;gorie</span>
                    <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'category_list' %}active{% endif %}">
                        <a href="{% url 'administrator:category-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'category_create' %}active{% endif %}">
                        <a href="{% url 'administrator:category-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'tag' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="tag"></i>
                    <span>Tags</span>
                    <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'tag_list' %}active{% endif %}">
                        <a href="{% url 'administrator:tag-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'tag_create' %}active{% endif %}">
                        <a href="{% url 'administrator:tag-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'announce' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="rss"></i>
                    <span>Annonces</span>
                    <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'announce_list' %}active{% endif %}">
                        <a href="{% url 'administrator:announce-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'announce_create' %}active{% endif %}">
                        <a href="{% url 'administrator:announce-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'community' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="share-2"></i>
                    <span>Communaut&eacute;</span>
                    <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'community_list' %}active{% endif %}">
                        <a href="{% url 'administrator:community-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'community_create' %}active{% endif %}">
                        <a href="{% url 'administrator:community-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'event' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="radio"></i>
                    <span>&Eacute;v&eacute;nements</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'event_list' %}active{% endif %}">
                        <a href="{% url 'administrator:event-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'event_create' %}active{% endif %}">
                        <a href="{% url 'administrator:event-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menu == 'service' %}active menu-open{% endif %}">
                <a href="#">
                    <i data-feather="activity"></i>
                    <span>Service</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if page_name == 'service_list' %}active{% endif %}">
                        <a href="{% url 'administrator:service-list' %}"><i class="ti-more"></i>Liste</a>
                    </li>
                    <li class="{% if page_name == 'service_create' %}active{% endif %}">
                        <a href="{% url 'administrator:service-create' %}"><i class="ti-more"></i>Ajouter</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'administrator:logout' %}">
                    <i data-feather="lock"></i>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </section>

    {% comment %}<div class="sidebar-footer">
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i class="ti-email"></i></a>
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ti-lock"></i></a>
    </div>{% endcomment %}
</aside>
