{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="small-gap filter-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-filters">
                        <ul>
                            <li class="active" data-filter="*"><span>Montrer tout</span></li>
                            {% for media_type in media_type_list %}
                                <li data-filter=".{{ media_type.codename }}"><span>{{ media_type }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="medium-gap standard-home masonry-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row masonry-layout normal-col-gap">
                            {% for media in media_list %}
                                <div class="col-lg-6 masonry-item {{ media.type.codename }}">
                                    <div class="standard-post masonry-post">
                                        <div class="post-image">
                                            {% if media.link %}
                                                {% if media.type.codename == "video" %}
                                                    {% if media.source_type.codename == "youtube" %}
                                                        <!-- (1) video wrapper -->
                                                        <div class="youtube" data-embed="{{ media.media_code }}">
                                                            <!-- (2) the "play" button -->
                                                            <div class="play-button"></div>
                                                        </div>
                                                    {% elif media.source_type.codename == "facebook" %}
                                                        <div class="fb-video"
                                                             data-href="{{ media.link }}"
                                                             data-width="860" data-show-text="false">
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="{% url 'core:media' group.slug denomination.slug media.type.codename media.pk %}">
                                                    {% thumbnail media.link "370x305" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}"
                                                             height="{{ im.height }}" alt="{{ media.name }}">
                                                    {% endthumbnail %}
                                                {% endif %}
                                            </a>
                                            {% else %}
                                                <a href="{% url 'core:media' group.slug denomination.slug media.type.codename media.pk %}">
                                                {% thumbnail media.file "370x305" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ media.name }}">
                                                {% endthumbnail %}
                                            {% endif %}
                                            </a>
                                            {#<img src="http://placehold.it/370x305" alt="">#}
                                        </div>
                                        <div class="down-content">
                                            <a href="{% url 'core:media' group.slug denomination.slug media.type.codename media.pk %}">
                                                <h4>{{ media.name }}</h4>
                                            </a>
                                            <ul class="post-info">
                                                <li><a href="#"><i class="fa fa-calendar"></i> {{ media.created_at }}</a></li>
                                                <li><a href="{% url 'core:media-type' group.slug denomination.slug media.type.codename %}"><i class="fa fa-folder-o"></i> {{ media.type }}</a></li>
                                            </ul>
                                            <p>{{ media.description|truncatechars:100 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12 masonry-item">
                                {% include 'core/layouts/partials/pagination.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}