{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">

                            <!-- Portfolio Filter
                            ============================================= -->
                            <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">

                                <li class="activeFilter"><a href="#" data-filter="*">Montrer tout</a></li>
                                {% for mediatype in mediatypes %}
                                    <li><a href="#" data-filter=".pf-{{ mediatype.type }}">{{ mediatype }}</a></li>
                                {% endfor %}

                            </ul><!-- #portfolio-filter end -->

                            <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
                                <i class="icon-random"></i>
                            </div>

                            <div class="clear"></div>

                            {% for media in media_type_list %}
                                <div class="col-lg-6">
                                    <div class="standard-post recent-post">
                                        <div class="post-image">
                                            <a href="{% url 'core:media' group.slug denomination.slug media_type.slug %}">
                                                {% thumbnail media_type.image "350x288" crop="80% top" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ media_type.title }}">
                                                {% empty %}
                                                    <img src="https://placehold.jp/cccccc/ffffff/350x288.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                         alt="{{ media_type.title }}">
                                                {% endthumbnail %}
                                            </a>
                                        </div>
                                        <div class="down-content">
                                            <a href="{% url 'core:media-type-item' group.slug denomination.slug media_type.slug %}">
                                                <h4>{{ media_type.title }}</h4>
                                            </a>
                                            <ul class="post-info">
                                                <li>D&eacute;c&egrave;s survenu le {{ media_type.date }}</li>
                                            </ul>
                                            <p>{{ media_type.excerpt|truncatechars:150 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}