{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="post-image">
                                        {% if media.link %}
                                            {% if media.type.codename == "video" %}
                                                {% if media.source_type.codename == "youtube" %}
                                                    <!-- (1) video wrapper -->
                                                    <div class="youtube" data-embed="{{ media.media_code }}">
                                                        <!-- (2) the "play" button -->
                                                        <div class="play-button"></div>
                                                    </div>
                                                {% elif media.source_type.codename == "facebook" %}
                                                    <div class="fb-video"
                                                         data-href="{{ media.link }}"
                                                         data-width="2000" data-show-text="false">
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                {% thumbnail media.link "730x398" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}"
                                                         height="{{ im.height }}" alt="{{ media.name }}">
                                                {% endthumbnail %}
                                            {% endif %}
                                        {% else %}
                                            {% thumbnail media.file "730x398" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}"
                                                     height="{{ im.height }}" alt="{{ media.name }}">
                                            {% empty %}
                                                <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Contenu%20non%20trouv%C3%A9"
                                                     alt="{{ media.name }}">
                                            {% endthumbnail %}
                                        {% endif %}
                                    </div>
                                    <div class="down-content">
                                        <h4>{{ media.name }}</h4>
                                        <ul class="post-info">
                                            <li><i class="fa fa-calendar"></i> {{ media.created_at|date:"j F Y H:i" }}</li>
                                            <li><a href="{% url 'core:media-type' group.slug denomination.slug media.type.codename %}"><i
                                                    class="fa fa-folder-o"></i> {{ media.type }}</a></li>
                                        </ul>
                                        <div class="mt-4 mb-4 content-safe">{{ media.description|safe }}</div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="tags">
                                                    <ul class="tags">
                                                        <li><i class="fa fa-tag"></i></li>
                                                        {% for tag in media.tags.all %}
                                                            <li><a href="#">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <!-- Post Single - Share -->
                                                <div class="si-share noborder clearfix">
                                                    <span>Partagez ce media :</span>
                                                    <div>
                                                        {% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i>' %}
                                                        {% post_to_twitter '<text_to_post>' request.build_absolute_uri '<i class="icon-twitter"></i>' %}
                                                        {% post_to_whatsapp request.build_absolute_uri '<i class="icon-whatsapp"></i>' %}
                                                        {% post_to_telegram '<text_to_post>' request.build_absolute_uri '<i class="icon-telegram"></i>' %}
                                                        {% post_to_linkedin '#' %}
                                                        {% post_to_gplus request.build_absolute_uri '<i class="icon-gplus"></i>' %}
                                                        {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri '<i class="icon-email3"></i>' %}
                                                    </div>
                                                </div>
                                                <!-- Post Single - Share End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="post-nav">
                                    {% if previous_media %}
                                        <li><a href="{{ previous_media.get_absolute_url }}">&lArr; Pr&eacute;c&eacute;dent</a></li>
                                    {% endif %}
                                    {% if next_media %}
                                        <li><a href="{{ next_media.get_absolute_url }}">Suivant &rArr;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}