{% extends 'administrator/common/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content_header %}
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">{{ page_title }}</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">{{ page_title }}</h4>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Titre</th>
                                    <th>Cat&eacute;gorie</th>
                                    <th>Statut</th>
                                    <th>Mis à jour le</th>
                                    <th>Par</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for placeannounce in placeannounce_list %}
                                    <tr>
                                        <td>{{ placeannounce.pk }}</td>
                                        <td>{{ placeannounce.title }}</td>
                                        <td>{{ placeannounce.category }}</td>
                                        <td>{{ placeannounce.get_status_display }}</td>
                                        <td>{{ placeannounce.updated_at }}</td>
                                        <td>{{ placeannounce.updated_by }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'administrator:announce-update' placeannounce.pk %}" class="btn btn-info"><i
                                                        class="fa fa-edit"></i></a>
                                                <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Titre</th>
                                    <th>Cat&eacute;gorie</th>
                                    <th>Statut</th>
                                    <th>Mis à jour le</th>
                                    <th>Par</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}