{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail templates social_share %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="post-image">
                                        {% thumbnail event.image "730x398" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ event.title }}">
                                        {% empty %}
                                            <img src="https://placehold.jp/cccccc/ffffff/730x398.png?text=Aucune%20Image%20trouv%C3%A9e"
                                                 alt="{{ event.title }}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="down-content">
                                        <h4>{{ event.title }}</h4>
                                        <div class="mt-4 mb-4 content-safe">{{ event.description|safe }}</div>
                                        <div class="mt-4 mb-4 row">
                                            <div class="col-6">
                                                <ul>
                                                    <li>
                                                        <strong>{{ event.location|default_if_none:"&agrave; venir" }}</strong>
                                                    </li>
                                                    <li>
                                                        <strong>
                                                            {% if event.is_full_day_event %}
                                                                Date:
                                                                {{ event.start_date|date:"D d M Y" }}
                                                            {% else %}
                                                                {{ event.start_date|date:"D d" }}
                                                                au {{ event.end_date|date:"D d M Y" }}
                                                            {% endif %}
                                                        </strong>
                                                    </li>
                                                    {% display_field event "price" %}
                                                    {% display_field event "particularity" %}
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul>
                                                    <li>
                                                        <strong>R&eacute;p&egrave;re G&eacute;ographique</strong>
                                                        {{ event.location_detail|default:event.place|default_if_none:"&agrave; venir" }}
                                                    </li>
                                                    <li>
                                                        <strong>
                                                            {% if event.is_full_day_event %}
                                                                Toute la journ&eacute;e
                                                            {% else %}
                                                                De {{ event.start_time }}
                                                                &agrave; {{ event.end_time }}
                                                            {% endif %}
                                                        </strong>
                                                    </li>
                                                    <li>
                                                        {% if event.order_link %}
                                                            <a href="{{ order_link }}" target="_blank"
                                                               class="button button-mini button-reveal tright">
                                                                <span>R&eacute;server</span><i class="icon-browser"></i>
                                                            </a>
                                                        {% else %}
                                                            <button class="button button-mini btn-secondary disabled" type="button" disabled>
                                                                <span>R&eacute;server</span>
                                                            </button>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7 col-md-6 offset-lg-5 offset-md-6">
                                                <!-- Post Single - Share -->
                                                <div class="si-share noborder clearfix">
                                                    <span>Partagez cet &eacute;v&eacute;nement :</span>
                                                    <div>
                                                        {% post_to_facebook request.build_absolute_uri '<i class="icon-facebook"></i>' %}
                                                        {% post_to_twitter '<text_to_post>' request.build_absolute_uri '<i class="icon-twitter"></i>' %}
                                                        {% post_to_whatsapp request.build_absolute_uri '<i class="icon-whatsapp"></i>' %}
                                                        {% post_to_telegram '<text_to_post>' request.build_absolute_uri '<i class="icon-telegram"></i>' %}
                                                        {% post_to_linkedin '#' %}
                                                        {% post_to_gplus request.build_absolute_uri '<i class="icon-gplus"></i>' %}
                                                        {% send_email '<subject>' '<text_to_post>' request.build_absolute_uri '<i class="icon-email3"></i>' %}
                                                    </div>
                                                </div>
                                                <!-- Post Single - Share End -->
                                            </div>
                                        </div>
                                        <div class="mt-5 last_update">
                                            Date de derni&egrave;re modification : <i>{{ event.updated_at|date:"D, d M Y H:i:s" }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}