{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">
                            <div class="title-block mb-5">
                                <h2>{{ page_title }}</h2>
                            </div>
                            <div class="col-12">
                                <div class="standard-post recent-post search-results">
                                    {% for item in search_result %}
                                        {% if search_type == 'worship-place' %}
                                            {% include 'core/denomination/directory/search_results/worship_place.html' %}
                                        {% elif search_type == 'worship-event' %}
                                            {% include 'core/denomination/directory/search_results/worship_event.html' %}
                                        {% elif search_type == 'worship-service' %}
                                            {% include 'core/denomination/directory/search_results/worship_service.html' %}
                                        {% endif %}
                                    {% empty %}
                                        <div class="bottommargin-sm">Nous n'avons trouvé résultat correspondant &agrave; votre recherche</div>
                                        <h5 class="fw_light color_dark m_bottom_23">Vous pouvez effectuer une autre recherche</h5>
                                    {% endfor %}
                                    {% if search_type == 'worship-activity' %}
                                        {% include 'core/denomination/directory/search_results/worship_activity.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}