{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">
                            <div class="title-block mb-5">
                                <h2>{{ page_title }}</h2>
                            </div>
                            <div class="col-12">
                                <div class="single-post">
                                    <div class="down-content">
                                        <ul class="nav nav-pills nav-fill mb-3 lookup-tabs" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link by-activity-tab active" id="by-activity-tab" data-toggle="pill" href="#by-activity"
                                                   role="tab"
                                                   aria-controls="by-activity"
                                                   aria-selected="true"><i class="fa fa-clock-o"></i> Horaires</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link by-directory-tab" id="by-directory-tab" data-toggle="pill" href="#by-directory"
                                                   role="tab"
                                                   aria-controls="by-directory"
                                                   aria-selected="false"><i class="fa fa-globe norightmargin"></i> Annuaire</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="by-activity" role="tabpanel" aria-labelledby="by-activity-tab">
                                                <form id="activity-search-full" data-search-url="directory" method="post" class="bottommargin">
                                                    {% csrf_token %}
                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="place-type">Type
                                                            de {{ denomination.denomination_details.place_type|lower|default_if_none:"lieu de culte" }}</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <select class="form-control" id="place-type" name="place_type">
                                                                <option value="">Tout</option>
                                                                {% for place_type in place_types %}
                                                                    <option value="{{ place_type.id }}">{{ place_type.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <small class="form-text color">S&eacute;lectionnez un type
                                                                de {{ denomination.denomination_details.place_type }}</small>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="place">Nom
                                                            du {{ denomination.denomination_details.place_type|lower|default_if_none:"lieu de culte" }}</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <input type="text" name="place" id="place" class="form-control place"
                                                                   placeholder="Entrez le nom d'un {{ denomination.denomination_details.place_type }}"
                                                                   autocomplete="off">
                                                            <ul class="widget-links clearfix place-results live-results"></ul>
                                                            <small class="form-text color">Entrez le nom
                                                                d'un {{ denomination.denomination_details.place_type }}</small>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row location-search-block">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="location-search">Localisation</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       id="location-search"
                                                                       name="location_search"
                                                                       class="form-control location-search"
                                                                       placeholder="Localisation"
                                                                       autocomplete="off">
                                                                <div class="input-group-append">
                                                                    <button class="btn button-color get-location"
                                                                            type="button"
                                                                            data-toggle="tooltip"
                                                                            title="Me Localiser">
                                                                        <i class="fa fa-location-arrow"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <ul class="widget-links clearfix location-results live-results"></ul>
                                                            <small class="form-text color">Entrez le nom d'un quartier, d'une ville</small>
                                                            <input type="hidden" name="geo_loc">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="activity-date">Date</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <div class="input-group">
                                                                <input type="text" name="activity_date" id="activity-date" value=""
                                                                       class="form-control tleft select-date"
                                                                       placeholder="JJ/MM/AAAA" autocomplete="off">
                                                                <div class="input-group-append">
                                                                    <button class="btn button-color select-date-clear"
                                                                            type="button"
                                                                            data-toggle="tooltip"
                                                                            title="Effacer">
                                                                        <i class="fa fa-close"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <small class="form-text color">S&eacute;lectionnez une date</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="activity-time">Heure (à partir de ?)</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <select name="activity_time" id="activity-time" class="form-control">
                                                                <option value=""></option>
                                                                <option value="06:00">6h</option>
                                                                <option value="08:00">8h</option>
                                                                <option value="10:00">10h</option>
                                                                <option value="12:00">12h</option>
                                                                <option value="14:00">14h</option>
                                                                <option value="16:00">16h</option>
                                                                <option value="18:00">18h</option>
                                                                <option value="20:00">20h</option>
                                                                <option value="22:00">22h</option>
                                                            </select>
                                                            <small class="form-text color ">S&eacute;lectionnez une heure de d&eacute;but</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="language">Langue/Dialecte</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <select name="language" id="language" class="form-control">
                                                                <option value=""></option>
                                                                {% for language in languages %}
                                                                    <option value="{{ language.codename }}">{{ language.label }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <small class="form-text color ">S&eacute;lectionnez un dialecte</small>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                                        <button class="button btn-block activity-search-submit">
                                                            Rechercher
                                                        </button>
                                                    </div>

                                                    <input type="hidden" name="search_elements">
                                                    <input type="hidden" name="denomination">
                                                    <input type="hidden" name="lookup" value="activity">
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="by-directory" role="tabpanel" aria-labelledby="by-directory-tab">
                                                <form id="directory-search-full" data-search-url="directory" method="post" class="bottommargin">
                                                    {% csrf_token %}
                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="lookup-type">Que cherchez-vous ?</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <select name="lookup_type" id="lookup-type" class="form-control" required>
                                                                <option value="event">&Eacute;v&eacute;nement</option>
                                                                <option value="service">Service & Association</option>
                                                            </select>
                                                            <small class="form-text color">Ceci nous permettra de mieux affiner votre recherche</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row event">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="event-type">Type d'&eacute;v&eacute;nement</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <select name="event_type" id="event-type" class="form-control" required>
                                                                <option value=""></option>
                                                                {% for event_type in event_types %}
                                                                    <option value="{{ event_type.id }}">{{ event_type.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <small class="form-text color">Choisissez un type d'&eacute;v&eacute;nement</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row service">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="service-type">Type</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <select name="service_type" id="service-type" class="form-control" required>
                                                                <option value=""></option>
                                                                {% for service_type in service_types %}
                                                                    <option value="{{ service_type.id }}">{{ service_type.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <small class="form-text color">Choisissez un type d'&eacute;v&eacute;nement</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="lookup-keyword">Mot clef</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" name="lookup_keyword" id="lookup-keyword"
                                                                   class="form-control lookup-keyword"
                                                                   placeholder="Entrez un mot clef"
                                                                   autocomplete="on">
                                                            <small class="form-text color">Saisir un mot clé</small>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row location-search-block">
                                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-form-label text-sm-left text-md-right nott"
                                                               for="location-search">Localisation</label>
                                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       id="location-search"
                                                                       name="location_search"
                                                                       class="form-control location-search"
                                                                       placeholder="Localisation"
                                                                       autocomplete="off">
                                                                <div class="input-group-append">
                                                                    <button class="btn button-color get-location"
                                                                            type="button"
                                                                            data-toggle="tooltip"
                                                                            title="Me Localiser">
                                                                        <i class="fa fa-location-arrow"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <ul class="widget-links clearfix location-results live-results"></ul>
                                                            <small class="form-text color">Entrez le nom d'un quartier, d'une ville</small>
                                                            <input type="hidden" name="geo_loc">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7 offset-md-4">
                                                        <button class="button btn-block directory-search-submit">
                                                            Rechercher
                                                        </button>
                                                    </div>

                                                    <input type="hidden" name="search_elements">
                                                    <input type="hidden" name="denomination">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="posts" class="standard-post recent-post search-results directory-results-list"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}