{% load static %}
<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
<link rel="stylesheet" href="{% static 'core/fonts/elegant-font/style.css' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i">
<link rel="stylesheet" href="{% static 'core/fonts/font-awesome/css/font-awesome.min.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'core/styles/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/simpletextrotator.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/main.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/font-icons.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/animate.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/imports/sliders.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/datepicker.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/daterangepicker.min.css' %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/custom_calendar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/custom.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/youtube.min.css' %}"/>