{% load static %}
<script type="text/javascript" src="{% static 'core/scripts/vendors/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/jquery.hoverIntent.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/isotope.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/packery-mode.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/owl-carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/moment_js.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/datepicker-fr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/main.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/vendors/jquery.simple-text-rotator.min.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="{% static 'core/scripts/turf.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/scripts/custom.min.js' %}"></script> <!-- Custom JS -->
<script type="text/javascript" src="{% static 'core/scripts/get_location.min.js' %}"></script> <!-- Custom JS -->
<script type="text/javascript" src="{% static 'core/scripts/get_place.min.js' %}"></script> <!-- Custom JS -->
<script type="text/javascript" src="{% static 'core/scripts/religion.min.js' %}"></script> <!-- Custom JS -->
<script type="text/javascript" src="{% static 'core/scripts/directory_search.min.js' %}"></script> <!-- Custom JS -->
<script type="text/javascript" src="{% static 'core/scripts/custom_calendar.min.js' %}"></script> <!-- Custom JS -->
<script type="text/javascript" src="{% static 'core/scripts/youtube.min.js' %}"></script> <!-- Custom JS -->
