{% extends 'core/layouts/default.html' %}
{% load static %}
{% block title %}Bienvenue sur Prions.ci{% endblock %}
{% block content %}
    <section class="error-404">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-content">
                        {% if groups_count == 0 %}
                            Aucun groupe réligieux enregistré pour le moment
                        {% else %}
                            <div class="instagram-account">
                                <div class="widget-content">
                                    <div class="row">
                                        {% ifequal registered_groups|length 2 %}
                                            {% for registered_group in registered_groups %}
                                                <div class="col d-flex align-items-center justify-content-center bounceIn animated mb-4 {% if forloop.counter == 2 %}offset-md-6 offset-sm-6{% endif %}"
                                                     data-animate="bounceIn"
                                                     data-appear-animation-delay="800"
                                                     data-toggle="tooltip"
                                                     title="{{ registered_group.description }}">
                                                    <div class="instagram-item registered-religion img-thumbnail nobgcolor">
                                                        <a href="{{ registered_group.slug }}">
                                                            <img src="{{ registered_group.logo.url }}" alt="{{ registered_group.name }}">
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% for registered_group in registered_groups %}
                                                <div class="col-3 d-flex align-items-center justify-content-center bounceIn animated mb-4"
                                                     data-animate="bounceIn"
                                                     data-appear-animation-delay="800"
                                                     data-toggle="tooltip"
                                                     title="{{ registered_group.description }}">
                                                    <div class="instagram-item registered-religion img-thumbnail nobgcolor">
                                                        <a href="{{ registered_group.slug }}">
                                                            <img src="{{ registered_group.logo.url }}" alt="{{ registered_group.name }}">
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="mt-5">
                            <div class="text-center">
                                {% for denomination in denominations %}
                                    <a href="{% url 'core:denomination' denomination.group.slug denomination.slug %}"
                                       class="button button-color">{{ denomination }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="main-banner small-banner mb-4">
        <div class="register-div center bottommargin-sm">
            <a href="{% url 'core:kyc' %}" data-animate="tada"
               class="button button-3d button-color button-xlarge nobottommargin register">Faites vous
                connaître</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Coming Soon</h2>
                    <div class="instagram-account">
                        <div class="widget-content">
                            <div class="row">
                                {% for unregistered_group in unregistered_groups %}
                                    <div class="col d-flex align-items-center justify-content-center col-lg-2 bounceIn animated mb-4"
                                         data-animate="bounceIn"
                                         data-appear-animation-delay="800" data-toggle="tooltip"
                                         title="{{ unregistered_group.description }}">
                                        <div class="instagram-item">
                                            <a href="{{ unregistered_group.slug }}">
                                                <img src="{{ unregistered_group.logo.url }}" alt="{{ unregistered_group.name }}">
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}