#custom_calendar {
  border: none;
  /* Animations are cool!  */
}
#custom_calendar *,
#custom_calendar *:before,
#custom_calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#custom_calendar #calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
  overflow: hidden;
  color: #000000;
}
#custom_calendar #calendarEvents {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
  height: 570px;
  overflow: hidden;
  color: #555;
  background-color: #fff;
  border: 1px solid #555;
}
#custom_calendar .header {
  height: 50px;
  background: #79a472;
  border: 1px solid #79a472;
  text-align: center;
  position: relative;
  z-index: 100;
}
#custom_calendar .header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #FFF;
}
#custom_calendar .left,
#custom_calendar .right {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}
#custom_calendar .left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #ffffff transparent transparent;
  left: 20px;
}
#custom_calendar .right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #ffffff;
  right: 20px;
}
#custom_calendar .month {
  /*overflow: hidden;*/
  opacity: 0;
  border: 1px solid #79a472;
}
#custom_calendar .month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}
#custom_calendar .month.in.next {
  -webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
  -moz-animation: moveFromTopFadeMonth 0.4s ease-out;
  animation: moveFromTopFadeMonth 0.4s ease-out;
  opacity: 1;
}
#custom_calendar .month.out.next {
  -webkit-animation: moveToTopFadeMonth 0.4s ease-in;
  -moz-animation: moveToTopFadeMonth 0.4s ease-in;
  animation: moveToTopFadeMonth 0.4s ease-in;
  opacity: 1;
}
#custom_calendar .month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
  -moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
  animation: moveFromBottomFadeMonth 0.4s ease-out;
  opacity: 1;
}
#custom_calendar .month.out.prev {
  -webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
  -moz-animation: moveToBottomFadeMonth 0.4s ease-in;
  animation: moveToBottomFadeMonth 0.4s ease-in;
  opacity: 1;
}
#custom_calendar .week {
  background: #ffffff;
}
#custom_calendar .day {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #ffffff;
  position: relative;
  z-index: 100;
}
#custom_calendar .day.other {
  color: rgba(0, 0, 0, 0.3);
}
#custom_calendar .day-name {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.7px;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #custom_calendar .day {
    padding: 0 12.5px;
  }
  #custom_calendar .day-name {
    font-size: 9px;
  }
  #custom_calendar .day-number {
    font-size: 16px;
  }
}
@media screen and (min-width: 641px) and (max-width: 767px) {
  #custom_calendar .day {
    padding: 0 14px;
  }
}
@media (min-width: 768px) {
  #custom_calendar .day {
    padding: 0 10.5px;
  }
}
@media (min-width: 992px) {
  #custom_calendar .day {
    padding: 0 7.5px;
  }
}
@media (min-width: 1200px) {
  #custom_calendar .day {
    padding: 0 12px;
  }
}
#custom_calendar .day-number {
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  /*color: rgba(0, 0, 0, 1);*/
}
#custom_calendar .day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}
#custom_calendar .day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}
#custom_calendar .day .day-event-number {
  font-weight: bolder;
  background: #79a472;
  color: white;
}
#custom_calendar .day.today * {
  font-weight: bolder;
  color: #f93e2a;
}
#custom_calendar .day.today .day-number {
  font-size: 17px;
}
#custom_calendar .blue {
  background: #9ccaeb;
}
#custom_calendar .orange {
  background: #f7a700;
}
#custom_calendar .green {
  background: #99c66d;
}
#custom_calendar .yellow {
  background: #f9e900;
}
#custom_calendar .details {
  position: absolute;
  z-index: 999;
  top: 45px;
  width: 420px;
  height: auto;
  background: #ffffff;
  border: 1px solid #79a472;
  margin-top: 5px;
}
#custom_calendar .details.in {
  -webkit-animation: moveFromTopFade 0.5s ease both;
  -moz-animation: moveFromTopFade 0.5s ease both;
  animation: moveFromTopFade 0.5s ease both;
}
#custom_calendar .details.out {
  -webkit-animation: moveToTopFade 0.5s ease both;
  -moz-animation: moveToTopFade 0.5s ease both;
  animation: moveToTopFade 0.5s ease both;
}
#custom_calendar .arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #a4a4a4 transparent;
  transition: all 0.7s ease;
}
#custom_calendar .close {
  position: absolute;
  z-index: 1000;
  right: 10px;
  border-color: transparent transparent #000000 transparent;
  transition: all 0.7s ease;
  cursor: pointer;
}
#custom_calendar .events {
  /*height: auto;*/
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#custom_calendar .events.in {
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
}
#custom_calendar .events.in {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#custom_calendar .details.out .events {
  -webkit-animation: fadeOutShrink 0.4s ease both;
  -moz-animation: fadeOutShink 0.4s ease both;
  animation: fadeOutShink 0.4s ease both;
}
#custom_calendar .events.out {
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
}
#custom_calendar .event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding: 2px 16px;
  vertical-align: top;
}
#custom_calendar .event.empty {
  color: rgba(46, 46, 46, 0.8);
}
#custom_calendar .event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}
#custom_calendar .event span {
  display: inline-block;
  padding: 0 0 0 7px;
}
#custom_calendar .legend {
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #79a472;
  border: 1px solid #79a472;
  line-height: 30px;
  color: #FFF;
}
#custom_calendar .entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}
#custom_calendar .entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
  margin: 0;
}
#custom_calendar .entry.blue:after {
  background: #9ccaeb;
}
#custom_calendar .entry.orange:after {
  background: #f7a700;
}
#custom_calendar .entry.green:after {
  background: #99c66d;
}
#custom_calendar .entry.yellow:after {
  background: #f9e900;
}
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    height: 0px;
    margin-top: 0px;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToTopFade {
  to {
    height: 0px;
    margin-top: 0px;
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveToTopFade {
  to {
    height: 0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveToTopFade {
  to {
    height: 0px;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}
@-moz-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}
@keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}
@-webkit-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}
@-moz-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}
@keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}
@-webkit-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}
@-moz-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}
@keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}
@-webkit-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}
@keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0;
    height: 0;
  }
}
@-moz-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0;
    height: 0;
  }
}
@keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0;
    height: 0;
  }
}
/*# sourceMappingURL=custom_calendar.css.map */