{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="medium-gap single-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-post">
                                    <div class="down-content">
                                        <h4>{{ faith.title }}</h4>
                                        <ul class="post-info">
                                            <li><i class="fa fa-calendar"></i> {{ faith.updated_at }}</li>
                                            <li><i class="fa fa-eye"></i> 0</li>
                                        </ul>
                                        <div class="mt-4 mb-4 content-safe">{{ faith.content|safe }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}