{% extends 'core/layouts/denomination.html' %}
{% load static thumbnail %}
{% block title %}{{ page_title|default:"Bienvenue sur Prions.ci" }}{% endblock %}
{% block content %}
    <section class="large-gap standard-home recent-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="standard-posts">
                        <div class="row">
                            {% for faith in faith_list %}
                                <div class="col-lg-6">
                                    <div class="standard-post recent-post">
                                        <div class="flip-card text-center top-to-bottom">
                                            <div class="flip-card-front bg-info dark" data-height-xl="200" style="height: 200px;">
                                                <div class="flip-card-inner">
                                                    <div class="card nobg noborder text-center">
                                                        <div class="card-body">
                                                            <h3 class="card-title color-white">{{ faith.title }}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flip-card-back" data-height-xl="200" style="height: 200px;">
                                                <div class="flip-card-inner">
                                                    <a href="{% url 'core:faith' group.slug denomination.slug faith.slug %}"
                                                       class="btn btn-outline-light mt-2">En Savoir Plus</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'core/denomination/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}