{% load static sitetree %}
{% with active=page_name %}
    <!-- Mobile Menu -->
    <div class="mobile-nav-wrapper">
        <div class="mobile-menu-inner">
            <ul class="mobile-menu">
                {% sitetree_menu from "menu_"|add:denomination.slug include "trunk,topmenu" template "sitetree/mobile_menu.html" %}
            </ul>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>
    <!-- /Mobile Menu -->

    <!-- Header -->
    <section class="row border-bottom img-responsive d-lg-none d-xl-none p-2">
        <div class="col-6 align-self-center text-center">
            <div class="header-logo">
                <a href="/"><img src="{% static 'core/images/logo.png' %}" alt="Logo Prions.ci"></a>
            </div>
        </div>
        <div class="col-6 align-self-center text-center">
            <div class="header-logo">
                <a href="{% url 'core:denomination' group.slug denomination.slug %}"><img src="{{ denomination.logo.url }}" alt="Logo {{ denomination|default_if_none:'' }}"></a>
            </div>
        </div>
    </section>

    <header class="site-header fixed-header">
        <div class="container expanded">
            <div class="header-wrap">
                <div class="header-logo d-none d-sm-none d-md-none d-lg-block">
                    <a href="{% url 'core:group' group.slug %}"><img src="{{ group.logo.url }}" alt="Logo {{ group|default_if_none:'' }}"></a>
                </div>
                <div class="header-nav">
                    {% comment %}<ul class="main-menu">
                        <li class="{% if active == 'home_denomination' %}active{% endif %}">
                            <a href="{% url 'core:denomination' group.slug denomination.slug %}"><i class="fa fa-home"></i></a>
                        </li>
                        {% with MENU="MENU_"|add:manage.py syncdb.denomination_details.menu_name|default:"CATHOLIQUE" %}
                            {% get_menu MENU as main %}
                            {% if main.0.name == "MENU NOT FOUND" %}
                                LOREM
                            {% else %}
                                {% for item in main %}
                                    <li class="{% if item.submenu %} menu-item-has-children {% endif %}{% if item.selected %} active {% endif %}">
                                        <a href="{{ item.url }}" {% if item.target %}target="{{ item.target }}"{% endif %}>{{ item.name }}</a>
                                        {% if item.submenu %}
                                            <ul class="sub-menu">
                                                {% for menu in item.submenu %}
                                                    <li class="{% if menu.submenu %} menu-item-has-children {% endif %}{% if menu.selected %} active {% endif %}">
                                                        <a href="{{ menu.url }}" {% if menu.target %}target="{{ menu.target }}"{% endif %}>
                                                            {{ menu.name }}
                                                        </a>
                                                        {% if menu.submenu %}
                                                            <ul class="sub-menu">
                                                                {% for submenu in menu.submenu %}
                                                                    <li class="{% if submenu.selected %} active {% endif %}">
                                                                        <a href="{{ submenu.url }}">{{ submenu.name }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </ul>{% endcomment %}
                    {% sitetree_menu from "menu_"|add:denomination.slug include "trunk,topmenu" template "sitetree/main_menu.html" %}
                </div>
                <div class="col-lg-4 align-self-center text-center d-lg-none d-xl-none nopadding">
                    <div id="widget_nominis_mobile" class="css_nominis"></div>
                    <script type="text/javascript" src="https://nominis.cef.fr/widgets/widget.php?id=widget_nominis_mobile&format=1"></script>
                </div>
                <div class="col-lg-4 align-self-center text-center d-lg-none d-xl-none nopadding">
                    {% if denomination.slug == 'catholique' %}
                        {% comment %}<div class="saint">
                            {{ "saint"|get_daily|safe }}
                        </div>{% endcomment %}
                        <button data-toggle="modal" data-target="get-daily-text"
                                class="button button-3d button-color button-small daily-text">
                            {{ denomination.denomination_details.daily_text }}
                        </button>
                    {% endif %}
                </div>
                <div class="header-widgets">
                    <ul class="right-menu">
                        <li class="menu-item menu-mobile-nav">
                            <a href="#" class="menu-bar" id="menu-show-mobile-nav">
                                <span class="hamburger"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->
{% endwith %}