{% load static %}
<footer id="footer" class="dark mt-0 pt-3">
    <div class="container">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">
            <div class="row">
                <div class="col-3 d-none d-sm-block">

                    <div class="widget clearfix">
                        <h4>Prions.ci</h4>
                        <div>
                            <address>
                                <strong>Localisation</strong><br>
                                Abidjan Plateau, Immeuble Eden<br>
                            </address>
                            <i class="icon-phone3"></i>&nbsp;&nbsp;(+225)<a href="tel:+22509445111">09 445 111</a> / <a href="tel:+22578226011">78 226
                            011</a><br>
                            <i class="icon-envelope21"></i>&nbsp;&nbsp;<a href="mailto:infos@prions.ci">infos@prions.ci</a>
                            <img src="{% static "core/images/trium-f.png" %}" alt="Trim-F" class="mt-3" style="width:80%">
                        </div>

                    </div>

                </div>

                <div class="col-3 d-none d-sm-block">
                    <div class="widget widget_links clearfix">
                        <h4>&Agrave; Propos De Nous</h4>
                        <ul>
                            <li><a href="{% url 'core:about-us' %}">Qui sommes-nous ?</a></li>
                            <li><a href="#">Nos Partenaires</a></li>
                            <li><a href="#">Contactez-nous</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="widget clearfix">
                        <h4>Newsletter</h4>
                        <div class="subscribe-widget clearfix">
                            <h5><strong>Abonnez-vous</strong> à notre newsletter pour recevoir les dernières
                                mises à jour de vos communautés réligieuses, directement dans votre boîte mail.</h5>
                            <div class="widget-subscribe-form-result"></div>
                            <form id="widget-subscribe-form" action="/newsletter/Infos/subscribe/" role="form"
                                  method="post"
                                  class="nobottommargin subscribe_send_form">
                                {% csrf_token %}
                                <div class="input-group divcenter">
                                    <input type="text" id="widget-subscribe-form-email" name="name_field" class="form-control required email"
                                           placeholder="Votre nom">
                                </div>
                                <br>
                                <div class="input-group divcenter">
                                    <input type="email" id="widget-subscribe-form-email" name="email_field"
                                           class="form-control required email" placeholder="Votre addresse email">
                                    <div class="input-group-append">
                                        <button id="id_submit" name="submit" class="btn button-color" value="Subscribe" type="submit">Je m'abonne
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer-widgets-wrap end -->
    </div>
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="copyright mt-3 d-none d-sm-none d-md-none d-lg-block">
        <div class="container clearfix">
            <div class="col_half">
                &copy; 2018 Prions.ci. Tous droits réservés - Trium-F
                <div class="clear"></div>
                <div class="copyright-links"><a href="#">Mentions L&eacute;gales</a> / <a href="#">CGU</a></div>
            </div>

            <div class="col_half col_last tright">
                <div class="row">
                    <div class="fright clearfix">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-vimeo">
                            <i class="icon-vimeo"></i>
                            <i class="icon-vimeo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-yahoo">
                            <i class="icon-yahoo"></i>
                            <i class="icon-yahoo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>


                <div class="row">
                    <i class="icon-envelope21"></i>&nbsp;info@prions.ci <span class="middot">&middot;</span> <i
                        class="icon-phone3"></i>&nbsp;(+225)&nbsp;<a href="tel:+22509445111">09 445 111</a> <span class="middot">&middot;</span> <i
                        class="icon-skype2"></i>&nbsp;PrionsOnSkype
                </div>
            </div>
        </div>
    </div>
    <!-- #copyrights end -->
</footer>