{% load static %}

<!-- Mobile Menu -->
<div class="mobile-nav-wrapper">
    <div class="mobile-menu-inner">
        <ul class="mobile-menu">
            {% for item in group_menu %}
                <li><a href="{% url 'core:denomination' group.slug item.slug %}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="mobile-menu-overlay"></div>
<!-- /Mobile Menu -->

<!-- Header -->
<header class="site-header fixed-header">
    <div class="container expanded">
        <div class="header-wrap">
            <div class="header-logo">
                <a href="/"><img src="{% static 'core/images/logo.png' %}" alt="Logo Prions.ci" width="50"></a>
            </div>
            <div class="header-nav">
                <ul class="main-menu">
                    {% for item in group_menu %}
                        <li><a href="{% url 'core:denomination' group.slug item.slug %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="header-widgets">
                <ul class="right-menu">
                    <li class="menu-item menu-mobile-nav">
                        <a href="#" class="menu-bar" id="menu-show-mobile-nav">
                            <span class="hamburger"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->