{% load static %}
{% load utils %}

<ul class="pagination">
    {% if page_obj.number != 1 %}
        <li><a href={{ request.get_full_path|link_name:1 }}>⇤</a></li>
    {% endif %}
    {% if page_obj.has_previous %}
        <li><a href={{ request.get_full_path|link_name:page_obj.previous_page_number }}>&laquo;</a>
        </li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for i in paginator|proper_paginate:page_obj.number %}
        {% if page_obj.number == i %}
            <li class="active"><a href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
        {% else %}
            <li><a href={{ request.get_full_path|link_name:i }}>{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li><a href={{ request.get_full_path|link_name:page_obj.next_page_number }}>&raquo;</a>
        </li>
    {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
    {% if page_obj.number == paginator.num_pages %}
        <li class="disabled d-none"><a href="#">⇥</a></li>
    {% else %}
        <li><a href={{ request.get_full_path|link_name:paginator.num_pages }}>⇥</a></li>
    {% endif %}
</ul>
